<!-- <link rel="stylesheet" href="/css/layouts/navbar.css" /> -->

<nav class="flex py-6 px-8">
  <div class="w-[300px]">
    <div class="brand">
      <p class="text-white font-bold text-2xl">Muslim Maya</p>
    </div>
  </div>

  <div class="flex justify-between w-full">
    <div class="flex gap-8 items-center">
      <p id="date" class="text-white font-light text-sm">1 Nov 2023</p>
      <div class="flex gap-2 items-center bg-[#fff1e4] px-3 py-0.5 rounded">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 40 40" fill="none">
          <path d="M35.0013 28.3333V16.8333L20.0013 25L1.66797 15L20.0013 5L38.3346 15V28.3333H35.0013ZM20.0013 35L8.33464 28.6667V20.3333L20.0013 26.6667L31.668 20.3333V28.6667L20.0013 35Z" fill="#954800"/>
        </svg>
        <p class="text-[#954800] text-sm font-bold"><%= user.school_name %></p>
      </div>
    </div>
  
    <form action="/api/v1/admins/logout" method="post" class="">
      <button id="button-logout" type="submit" class="text-main bg-[#fff1e4] px-5 py-1.5 rounded-full text-sm text-center">Keluar</button>
    </form>
  </div>
</nav>
