<link rel="stylesheet" href="/css/layouts/navbar.css" />
<nav>
  <div class="nav-brand">
    <h2>Muslim Maya</h2>
  </div>
  <div class="nav-list">
    <p id="date"></p>
    <form action="/api/admin/logout" method="post">
      <a href=""><button type="submit" class="keluar-button">Keluar</button></a>
    </form>
  </div>
</nav>
