<link rel="stylesheet" href="/css/layouts/navbar.css" />
<nav>
  <div class="nav-brand">
    <h2>Muslim Maya</h2>
  </div>
  <div class="nav-list">
    <div class="nav-info">
      <p id="date"></p>
      <span class="school-name" style="display: flex; align-items: center; gap: .25rem;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="40" viewBox="0 0 40 40" fill="none">
        <path d="M35.0013 28.3333V16.8333L20.0013 25L1.66797 15L20.0013 5L38.3346 15V28.3333H35.0013ZM20.0013 35L8.33464 28.6667V20.3333L20.0013 26.6667L31.668 20.3333V28.6667L20.0013 35Z" fill="#954800"/>
      </svg> <p style="margin: 0;"><%= user.school_name %></p></span>
    </div>
    <form action="/api/admin/logout" method="post">
      <a href=""><button type="submit" class="keluar-button">Keluar</button></a>
    </form>
  </div>
</nav>
