<div>
  <div class="side-profile flex gap-3 my-4 items-center">
    <div class="w-[60px] h-[60px] bg-white rounded-full overflow-hidden">
      <img id="" src="/img/user-img.png" alt="profile-picture" class="w-full h-full object-cover">
    </div>
    <div class="">
      <p class="font-bold text-sm text-white"><%= user.username %></p>
      <% if(user.role =="super_admin"){%>
        <p class="font-normal text-sm text-white">Super Admin</p>
        <% }else{%>
        <p class="font-normal text-sm text-white">Admin</p>
      <% }%>
    </div>
  </div>
  <div class="side-list flex flex-col mt-10 text-sm relative">
    <% if(user.role =="super_admin"){%>
    <a id="side-admin" href="/admin" class="py-3 px-5 text-white">Daftar Admin</a>
    <a id="side-siswa" href="/siswa" class="py-3 px-5 text-white">Daftar Siswa</a>
    <a id="side-topik" href="/topik" class="py-3 px-5 text-white">Topik Ujian</a>
    <a id="side-ujian" href="/ujian" class="py-3 px-5 text-white">Ujian</a>
    <a id="side-nilai" href="/nilai" class="py-3 px-5 text-white">Nilai</a>
    <% }else{%>
    <a id="side-beranda" href="/" class="py-3 px-5 text-white">Beranda</a>
    <a id="side-siswa" href="/siswa" class="py-3 px-5 text-white">Data Siswa</a>
    <a id="side-ujian" href="/ujian" class="py-3 px-5 text-white">Ujian</a>
    <a id="side-nilai" href="/nilai" class="py-3 px-5 text-white">Nilai</a>
    <% }%>
  </div>

  <a href="mailto:hello@festivo.co" class="flex justify-center me-8">
    <div class="fixed bottom-10 flex flex-col items-center">
      <div class="peer mb-1 w-[60px] h-[60px] bg-white rounded-full border-4 border-[#FFF1E4] flex items-center justify-center hover:border-[#DA8F4A] duration-200">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 100 100" fill="none">
          <path d="M45.832 87.5V79.1667H79.1654V49.5833C79.1654 41.4583 76.3355 34.566 70.6758 28.9062C65.0161 23.2465 58.1237 20.4167 49.9987 20.4167C41.8737 20.4167 34.9813 23.2465 29.3216 28.9062C23.6619 34.566 20.832 41.4583 20.832 49.5833V75H16.6654C14.3737 75 12.4119 74.184 10.7799 72.5521C9.148 70.9201 8.33203 68.9583 8.33203 66.6667V58.3333C8.33203 56.875 8.69661 55.5035 9.42578 54.2188C10.1549 52.934 11.1793 51.9097 12.4987 51.1458L12.8112 45.625C13.3668 40.9028 14.7383 36.5278 16.9258 32.5C19.1133 28.4722 21.8563 24.9653 25.1549 21.9792C28.4536 18.9931 32.2383 16.6667 36.5091 15C40.7799 13.3333 45.2765 12.5 49.9987 12.5C54.7209 12.5 59.2001 13.3333 63.4362 15C67.6723 16.6667 71.457 18.9757 74.7904 21.9271C78.1237 24.8785 80.8668 28.3681 83.0195 32.3958C85.1723 36.4236 86.5612 40.7986 87.1862 45.5208L87.4987 50.9375C88.8181 51.5625 89.8425 52.5 90.5716 53.75C91.3008 55 91.6654 56.3194 91.6654 57.7083V67.2917C91.6654 68.6806 91.3008 70 90.5716 71.25C89.8425 72.5 88.8181 73.4375 87.4987 74.0625V79.1667C87.4987 81.4583 86.6827 83.4201 85.0508 85.0521C83.4188 86.684 81.457 87.5 79.1654 87.5H45.832ZM37.4987 58.3333C36.3181 58.3333 35.3286 57.934 34.5299 57.1354C33.7313 56.3368 33.332 55.3472 33.332 54.1667C33.332 52.9861 33.7313 51.9965 34.5299 51.1979C35.3286 50.3993 36.3181 50 37.4987 50C38.6793 50 39.6688 50.3993 40.4674 51.1979C41.2661 51.9965 41.6654 52.9861 41.6654 54.1667C41.6654 55.3472 41.2661 56.3368 40.4674 57.1354C39.6688 57.934 38.6793 58.3333 37.4987 58.3333ZM62.4987 58.3333C61.3181 58.3333 60.3286 57.934 59.5299 57.1354C58.7313 56.3368 58.332 55.3472 58.332 54.1667C58.332 52.9861 58.7313 51.9965 59.5299 51.1979C60.3286 50.3993 61.3181 50 62.4987 50C63.6793 50 64.6688 50.3993 65.4674 51.1979C66.2661 51.9965 66.6654 52.9861 66.6654 54.1667C66.6654 55.3472 66.2661 56.3368 65.4674 57.1354C64.6688 57.934 63.6793 58.3333 62.4987 58.3333ZM25.1029 51.875C24.6168 44.5139 26.839 38.1944 31.7695 32.9167C36.7001 27.6389 42.8459 25 50.207 25C56.3876 25 61.8216 26.9618 66.5091 30.8854C71.1966 34.809 74.0265 39.8264 74.9987 45.9375C68.6793 45.8681 62.8633 44.1667 57.5508 40.8333C52.2383 37.5 48.1584 32.9861 45.3112 27.2917C44.2001 32.8472 41.8563 37.7951 38.2799 42.1354C34.7036 46.4757 30.3112 49.7222 25.1029 51.875Z" fill="#DA8F4A"/>
        </svg>
      </div>
      <div class="peer-hover:opacity-100 duration-200 opacity-0 bg-[#FFF1E4] text-[#DA8F4A] text-xs font-bold py-1 px-2 rounded-lg border border-[#DA8F4A]">Hubungi CS</div>
    </div>
  </a>
</div>