<div class="main-sidebar">
    <div class="profile-sidebar">
      <div class="profile-img">
        <img src="" alt="" />
      </div>
      <div class="profile-info">
        <p><b><%= user.username %></b></p>
        <p><%= user.role %></p>
      </div>
    </div>
    <div class="list-sidebar">
      <a href="/admin" class="adminSidebar">Daftar Admin</a>
      <a href="/siswa">Daftar Siswa</a>
      <a href="/admin/tipe_ujian" class="topik-sidebar">Topik Ujian</a>
      <a href="/ujian">Ujian</a>
      <a href="/nilai">Nilai</a>
    </div>
  </div>