<!-- FULL SCREEN -->
<div class="hidden lg:block">
  <div class="side-profile flex gap-3 my-4 items-center">
    <div class="w-[60px] h-[60px] bg-white rounded-full overflow-hidden">
      <img id="" src="/img/user-img.png" alt="profile-picture" class="w-full h-full object-cover">
    </div>
    <div class="">
      <p class="font-bold text-sm text-white"><%= user.username %></p>
      <% if(user.role =="super_admin"){%>
        <p class="font-normal text-sm text-white">Super Admin</p>
        <% }else{%>
        <p class="font-normal text-sm text-white">Admin</p>
      <% }%>
    </div>
  </div>
  <div class="side-list flex flex-col mt-10 text-sm relative">
    <% if(user.role =="super_admin"){%>
    <a id="side-admin" href="/admin" class="py-3 px-5 text-white">Daftar Admin</a>
    <a id="side-siswa" href="/siswa" class="py-3 px-5 text-white">Daftar Siswa</a>
    <a id="side-topik" href="/topik" class="py-3 px-5 text-white">Topik Ujian</a>
    <a id="side-ujian" href="/ujian" class="py-3 px-5 text-white">Ujian</a>
    <a id="side-nilai" href="/nilai" class="py-3 px-5 text-white">Nilai</a>
    <% }else{%>
    <a id="side-beranda" href="/" class="py-3 px-5 text-white">Beranda</a>
    <a id="side-siswa" href="/siswa" class="py-3 px-5 text-white">Data Siswa</a>
    <a id="side-ujian" href="/ujian" class="py-3 px-5 text-white">Ujian</a>
    <a id="side-nilai" href="/nilai" class="py-3 px-5 text-white">Nilai</a>
    <% }%>
  </div>

  <a href="mailto:hello@festivo.co" class="flex justify-center me-8">
    <div class="fixed bottom-10 flex flex-col items-center">
      <div class="peer mb-1 w-[60px] h-[60px] bg-white rounded-full border-4 border-[#FFF1E4] flex items-center justify-center hover:border-[#DA8F4A] duration-200">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 100 100" fill="none">
          <path d="M45.832 87.5V79.1667H79.1654V49.5833C79.1654 41.4583 76.3355 34.566 70.6758 28.9062C65.0161 23.2465 58.1237 20.4167 49.9987 20.4167C41.8737 20.4167 34.9813 23.2465 29.3216 28.9062C23.6619 34.566 20.832 41.4583 20.832 49.5833V75H16.6654C14.3737 75 12.4119 74.184 10.7799 72.5521C9.148 70.9201 8.33203 68.9583 8.33203 66.6667V58.3333C8.33203 56.875 8.69661 55.5035 9.42578 54.2188C10.1549 52.934 11.1793 51.9097 12.4987 51.1458L12.8112 45.625C13.3668 40.9028 14.7383 36.5278 16.9258 32.5C19.1133 28.4722 21.8563 24.9653 25.1549 21.9792C28.4536 18.9931 32.2383 16.6667 36.5091 15C40.7799 13.3333 45.2765 12.5 49.9987 12.5C54.7209 12.5 59.2001 13.3333 63.4362 15C67.6723 16.6667 71.457 18.9757 74.7904 21.9271C78.1237 24.8785 80.8668 28.3681 83.0195 32.3958C85.1723 36.4236 86.5612 40.7986 87.1862 45.5208L87.4987 50.9375C88.8181 51.5625 89.8425 52.5 90.5716 53.75C91.3008 55 91.6654 56.3194 91.6654 57.7083V67.2917C91.6654 68.6806 91.3008 70 90.5716 71.25C89.8425 72.5 88.8181 73.4375 87.4987 74.0625V79.1667C87.4987 81.4583 86.6827 83.4201 85.0508 85.0521C83.4188 86.684 81.457 87.5 79.1654 87.5H45.832ZM37.4987 58.3333C36.3181 58.3333 35.3286 57.934 34.5299 57.1354C33.7313 56.3368 33.332 55.3472 33.332 54.1667C33.332 52.9861 33.7313 51.9965 34.5299 51.1979C35.3286 50.3993 36.3181 50 37.4987 50C38.6793 50 39.6688 50.3993 40.4674 51.1979C41.2661 51.9965 41.6654 52.9861 41.6654 54.1667C41.6654 55.3472 41.2661 56.3368 40.4674 57.1354C39.6688 57.934 38.6793 58.3333 37.4987 58.3333ZM62.4987 58.3333C61.3181 58.3333 60.3286 57.934 59.5299 57.1354C58.7313 56.3368 58.332 55.3472 58.332 54.1667C58.332 52.9861 58.7313 51.9965 59.5299 51.1979C60.3286 50.3993 61.3181 50 62.4987 50C63.6793 50 64.6688 50.3993 65.4674 51.1979C66.2661 51.9965 66.6654 52.9861 66.6654 54.1667C66.6654 55.3472 66.2661 56.3368 65.4674 57.1354C64.6688 57.934 63.6793 58.3333 62.4987 58.3333ZM25.1029 51.875C24.6168 44.5139 26.839 38.1944 31.7695 32.9167C36.7001 27.6389 42.8459 25 50.207 25C56.3876 25 61.8216 26.9618 66.5091 30.8854C71.1966 34.809 74.0265 39.8264 74.9987 45.9375C68.6793 45.8681 62.8633 44.1667 57.5508 40.8333C52.2383 37.5 48.1584 32.9861 45.3112 27.2917C44.2001 32.8472 41.8563 37.7951 38.2799 42.1354C34.7036 46.4757 30.3112 49.7222 25.1029 51.875Z" fill="#DA8F4A"/>
        </svg>
      </div>
      <div class="peer-hover:opacity-100 duration-200 opacity-0 bg-[#FFF1E4] text-[#DA8F4A] text-xs font-bold py-1 px-2 rounded-lg border border-[#DA8F4A]">Hubungi CS</div>
    </div>
  </a>
</div>


<!-- MOBILE SCREEN -->
<div class="lg:hidden md:block z-[1000]">
  <div class="fixed bottom-0 left-0 w-full">
    
    <div class="side-list flex justify-around py-2 pt-5 bg-white rounded-tl-3xl rounded-tr-3xl shadow-[0_0px_40px_-15px_rgba(0,0,0,0.2)]">
      
      <!-- SUPER ADMIN -->
      <% if(user.role =="super_admin"){%>
        <!-- Daftar Admin -->
          <a id="mobile-admin" href="/admin"  class="text-main">     
            <svg width="50px" height="50px" class="w-12 h-12" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g transform="translate(5 0)">
                <path id="Vector" d="M1.33331 26.6667V22.9333C1.33331 22.1778 1.52776 21.4833 1.91665 20.85C2.30554 20.2167 2.8222 19.7333 3.46665 19.4C4.84442 18.7111 6.24442 18.1945 7.66665 17.85C9.08887 17.5056 10.5333 17.3333 12 17.3333C13.4666 17.3333 14.9111 17.5056 16.3333 17.85C17.7555 18.1945 19.1555 18.7111 20.5333 19.4C21.1778 19.7333 21.6944 20.2167 22.0833 20.85C22.4722 21.4833 22.6666 22.1778 22.6666 22.9333V26.6667H1.33331ZM25.3333 26.6667V22.6667C25.3333 21.6889 25.0611 20.75 24.5166 19.85C23.9722 18.95 23.2 18.1778 22.2 17.5333C23.3333 17.6667 24.4 17.8945 25.4 18.2167C26.4 18.5389 27.3333 18.9333 28.2 19.4C29 19.8445 29.6111 20.3389 30.0333 20.8833C30.4555 21.4278 30.6666 22.0222 30.6666 22.6667V26.6667H25.3333ZM12 16C10.5333 16 9.27776 15.4778 8.23331 14.4333C7.18887 13.3889 6.66665 12.1333 6.66665 10.6667C6.66665 9.20001 7.18887 7.94445 8.23331 6.90001C9.27776 5.85557 10.5333 5.33334 12 5.33334C13.4666 5.33334 14.7222 5.85557 15.7666 6.90001C16.8111 7.94445 17.3333 9.20001 17.3333 10.6667C17.3333 12.1333 16.8111 13.3889 15.7666 14.4333C14.7222 15.4778 13.4666 16 12 16ZM25.3333 10.6667C25.3333 12.1333 24.8111 13.3889 23.7666 14.4333C22.7222 15.4778 21.4666 16 20 16C19.7555 16 19.4444 15.9722 19.0666 15.9167C18.6889 15.8611 18.3778 15.8 18.1333 15.7333C18.7333 15.0222 19.1944 14.2333 19.5166 13.3667C19.8389 12.5 20 11.6 20 10.6667C20 9.73334 19.8389 8.83334 19.5166 7.96668C19.1944 7.10001 18.7333 6.31112 18.1333 5.60001C18.4444 5.4889 18.7555 5.41668 19.0666 5.38334C19.3778 5.35001 19.6889 5.33334 20 5.33334C21.4666 5.33334 22.7222 5.85557 23.7666 6.90001C24.8111 7.94445 25.3333 9.20001 25.3333 10.6667Z" fill="#358F6C" />
              </g>
            </svg>
            <div class="w-full -mt-3">
              <p class="text-xs text-center">Admin</p>
            </div>
          </a>
        <!-- Daftar Siswa -->
          <a id="mobile-siswa" href="/siswa" class="text-main">
            <svg width="50" height="50" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g transform="translate(5 0)">
                <path id="Vector" d="M28 22.6667V13.4667L16 20L1.33331 12L16 4L30.6666 12V22.6667H28ZM16 28L6.66665 22.9333V16.2667L16 21.3333L25.3333 16.2667V22.9333L16 28Z" fill="#358F6C"/>
              </g>
            </svg>
            <div class="w-full -mt-3">
              <p class="text-xs text-center">Siswa</p>
            </div>
          </a>
        <!-- Topik Ujian -->
          <a id="mobile-topik" href="/topik" class="text-main">
              <svg width="50" height="50" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g transform="translate(8 0)">
                  <path d="M6.66667 28C5.93333 28 5.30556 27.7389 4.78333 27.2166C4.26111 26.6944 4 26.0666 4 25.3333V6.66665C4 5.93331 4.26111 5.30554 4.78333 4.78331C5.30556 4.26109 5.93333 3.99998 6.66667 3.99998H12.2667C12.5556 3.19998 13.0389 2.55554 13.7167 2.06665C14.3944 1.57776 15.1556 1.33331 16 1.33331C16.8444 1.33331 17.6056 1.57776 18.2833 2.06665C18.9611 2.55554 19.4444 3.19998 19.7333 3.99998H25.3333C26.0667 3.99998 26.6944 4.26109 27.2167 4.78331C27.7389 5.30554 28 5.93331 28 6.66665V25.3333C28 26.0666 27.7389 26.6944 27.2167 27.2166C26.6944 27.7389 26.0667 28 25.3333 28H6.66667ZM10.6667 22.6666H17.3333C17.7111 22.6666 18.0278 22.5389 18.2833 22.2833C18.5389 22.0278 18.6667 21.7111 18.6667 21.3333C18.6667 20.9555 18.5389 20.6389 18.2833 20.3833C18.0278 20.1278 17.7111 20 17.3333 20H10.6667C10.2889 20 9.97222 20.1278 9.71667 20.3833C9.46111 20.6389 9.33333 20.9555 9.33333 21.3333C9.33333 21.7111 9.46111 22.0278 9.71667 22.2833C9.97222 22.5389 10.2889 22.6666 10.6667 22.6666ZM10.6667 17.3333H21.3333C21.7111 17.3333 22.0278 17.2055 22.2833 16.95C22.5389 16.6944 22.6667 16.3778 22.6667 16C22.6667 15.6222 22.5389 15.3055 22.2833 15.05C22.0278 14.7944 21.7111 14.6666 21.3333 14.6666H10.6667C10.2889 14.6666 9.97222 14.7944 9.71667 15.05C9.46111 15.3055 9.33333 15.6222 9.33333 16C9.33333 16.3778 9.46111 16.6944 9.71667 16.95C9.97222 17.2055 10.2889 17.3333 10.6667 17.3333ZM10.6667 12H21.3333C21.7111 12 22.0278 11.8722 22.2833 11.6166C22.5389 11.3611 22.6667 11.0444 22.6667 10.6666C22.6667 10.2889 22.5389 9.9722 22.2833 9.71665C22.0278 9.46109 21.7111 9.33331 21.3333 9.33331H10.6667C10.2889 9.33331 9.97222 9.46109 9.71667 9.71665C9.46111 9.9722 9.33333 10.2889 9.33333 10.6666C9.33333 11.0444 9.46111 11.3611 9.71667 11.6166C9.97222 11.8722 10.2889 12 10.6667 12ZM16 5.66665C16.2889 5.66665 16.5278 5.5722 16.7167 5.38331C16.9056 5.19442 17 4.95553 17 4.66665C17 4.37776 16.9056 4.13887 16.7167 3.94998C16.5278 3.76109 16.2889 3.66665 16 3.66665C15.7111 3.66665 15.4722 3.76109 15.2833 3.94998C15.0944 4.13887 15 4.37776 15 4.66665C15 4.95553 15.0944 5.19442 15.2833 5.38331C15.4722 5.5722 15.7111 5.66665 16 5.66665Z" fill="#358F6C"/>
                </g>
              </svg>
              <div class="w-full -mt-3">
                <p class="text-xs text-center">Topik Ujian</p>
              </div>
          </a>
        <!-- Ujian -->
          <a id="mobile-ujian" href="/ujian" class="text-main">
            <svg width="50" height="50" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g transform="translate(5 0)">
                <path id="Vector" d="M18.6667 20C19.0445 20 19.3722 19.8611 19.65 19.5833C19.9278 19.3055 20.0667 18.9778 20.0667 18.6C20.0667 18.2222 19.9278 17.8944 19.65 17.6167C19.3722 17.3389 19.0445 17.2 18.6667 17.2C18.2889 17.2 17.9611 17.3389 17.6834 17.6167C17.4056 17.8944 17.2667 18.2222 17.2667 18.6C17.2667 18.9778 17.4056 19.3055 17.6834 19.5833C17.9611 19.8611 18.2889 20 18.6667 20ZM17.6667 15.7333H19.6667C19.6667 15.0889 19.7334 14.6167 19.8667 14.3167C20 14.0167 20.3111 13.6222 20.8 13.1333C21.4667 12.4667 21.9111 11.9278 22.1334 11.5167C22.3556 11.1055 22.4667 10.6222 22.4667 10.0667C22.4667 9.06666 22.1167 8.24999 21.4167 7.61666C20.7167 6.98332 19.8 6.66666 18.6667 6.66666C17.7556 6.66666 16.9611 6.92221 16.2834 7.43332C15.6056 7.94443 15.1334 8.62221 14.8667 9.46666L16.6667 10.2C16.8667 9.64443 17.1389 9.22777 17.4834 8.94999C17.8278 8.67221 18.2222 8.53332 18.6667 8.53332C19.2 8.53332 19.6334 8.68332 19.9667 8.98332C20.3 9.28332 20.4667 9.68888 20.4667 10.2C20.4667 10.5111 20.3778 10.8055 20.2 11.0833C20.0222 11.3611 19.7111 11.7111 19.2667 12.1333C18.5334 12.7778 18.0834 13.2833 17.9167 13.65C17.75 14.0167 17.6667 14.7111 17.6667 15.7333ZM10.6667 24C9.93335 24 9.30558 23.7389 8.78335 23.2167C8.26113 22.6944 8.00002 22.0667 8.00002 21.3333V5.33332C8.00002 4.59999 8.26113 3.97221 8.78335 3.44999C9.30558 2.92777 9.93335 2.66666 10.6667 2.66666H26.6667C27.4 2.66666 28.0278 2.92777 28.55 3.44999C29.0722 3.97221 29.3334 4.59999 29.3334 5.33332V21.3333C29.3334 22.0667 29.0722 22.6944 28.55 23.2167C28.0278 23.7389 27.4 24 26.6667 24H10.6667ZM5.33335 29.3333C4.60002 29.3333 3.97224 29.0722 3.45002 28.55C2.9278 28.0278 2.66669 27.4 2.66669 26.6667V7.99999H5.33335V26.6667H24V29.3333H5.33335Z" fill="#358F6C"/>
              </g>
            </svg>
            <div class="w-full -mt-3">
              <p class="text-xs text-center">Ujian</p>
            </div>
          </a>
        <!-- Nilai -->
          <a id="mobile-nilai" href="/nilai" class="text-main">
            <svg width="50" height="50" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g transform="translate(5 0)">
                  <path id="Vector" d="M16 17.3333C14.8889 17.3333 13.9444 16.9444 13.1666 16.1667C12.3889 15.3889 12 14.4444 12 13.3333C12 12.2222 12.3889 11.2778 13.1666 10.5C13.9444 9.72221 14.8889 9.33332 16 9.33332C17.1111 9.33332 18.0555 9.72221 18.8333 10.5C19.6111 11.2778 20 12.2222 20 13.3333C20 14.4444 19.6111 15.3889 18.8333 16.1667C18.0555 16.9444 17.1111 17.3333 16 17.3333ZM7.99998 30.6667V20.3667C7.15554 19.4333 6.49998 18.3667 6.03331 17.1667C5.56665 15.9667 5.33331 14.6889 5.33331 13.3333C5.33331 10.3555 6.36665 7.83332 8.43331 5.76666C10.5 3.69999 13.0222 2.66666 16 2.66666C18.9778 2.66666 21.5 3.69999 23.5666 5.76666C25.6333 7.83332 26.6666 10.3555 26.6666 13.3333C26.6666 14.6889 26.4333 15.9667 25.9666 17.1667C25.5 18.3667 24.8444 19.4333 24 20.3667V30.6667L16 28L7.99998 30.6667ZM16 21.3333C18.2222 21.3333 20.1111 20.5555 21.6666 19C23.2222 17.4444 24 15.5555 24 13.3333C24 11.1111 23.2222 9.22221 21.6666 7.66666C20.1111 6.1111 18.2222 5.33332 16 5.33332C13.7778 5.33332 11.8889 6.1111 10.3333 7.66666C8.77776 9.22221 7.99998 11.1111 7.99998 13.3333C7.99998 15.5555 8.77776 17.4444 10.3333 19C11.8889 20.5555 13.7778 21.3333 16 21.3333Z" fill="#358F6C"/>
                </g>
            </svg>
            <div class="w-full -mt-3">
              <p class="text-xs text-center">Nilai</p>
            </div>
          </a>

      <!-- ADMIN -->
      <% }else{%>
        <!-- <a id="mobile-beranda" href="/" class="text-white">Beranda</a> -->
        <!-- Beranda -->
        <a id="mobile-nilai" href="/" class="text-main">
          <svg fill="#358F6C" width="45" height="50" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
            <g transform="translate(4 0)">
              <path id="Vector" d="M3.012,10.981,3,11H5v9a1,1,0,0,0,1,1H18a1,1,0,0,0,1-1V11h2a1,1,0,0,0,.555-1.832l-9-6a1,1,0,0,0-1.11,0l-9,6a1,1,0,0,0-.277,1.387A.98.98,0,0,0,3.012,10.981ZM10,14a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1v5H10Z" fill="#358F6C"/>
            </g>
          </svg>
          <div class="w-full -mt-3">
            <p class="text-xs text-center">Beranda</p>
          </div>
        </a>
        <!-- Daftar Siswa -->
        <a id="mobile-siswa" href="/siswa" class="text-main">
          <svg width="50" height="50" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g transform="translate(5 0)">
              <path id="Vector" d="M28 22.6667V13.4667L16 20L1.33331 12L16 4L30.6666 12V22.6667H28ZM16 28L6.66665 22.9333V16.2667L16 21.3333L25.3333 16.2667V22.9333L16 28Z" fill="#358F6C"/>
            </g>
          </svg>
          <div class="w-full -mt-3">
            <p class="text-xs text-center">Siswa</p>
          </div>
        </a>
        <!-- Ujian -->
        <a id="mobile-ujian" href="/ujian" class="text-main">
          <svg width="50" height="50" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g transform="translate(5 0)">
              <path id="Vector" d="M18.6667 20C19.0445 20 19.3722 19.8611 19.65 19.5833C19.9278 19.3055 20.0667 18.9778 20.0667 18.6C20.0667 18.2222 19.9278 17.8944 19.65 17.6167C19.3722 17.3389 19.0445 17.2 18.6667 17.2C18.2889 17.2 17.9611 17.3389 17.6834 17.6167C17.4056 17.8944 17.2667 18.2222 17.2667 18.6C17.2667 18.9778 17.4056 19.3055 17.6834 19.5833C17.9611 19.8611 18.2889 20 18.6667 20ZM17.6667 15.7333H19.6667C19.6667 15.0889 19.7334 14.6167 19.8667 14.3167C20 14.0167 20.3111 13.6222 20.8 13.1333C21.4667 12.4667 21.9111 11.9278 22.1334 11.5167C22.3556 11.1055 22.4667 10.6222 22.4667 10.0667C22.4667 9.06666 22.1167 8.24999 21.4167 7.61666C20.7167 6.98332 19.8 6.66666 18.6667 6.66666C17.7556 6.66666 16.9611 6.92221 16.2834 7.43332C15.6056 7.94443 15.1334 8.62221 14.8667 9.46666L16.6667 10.2C16.8667 9.64443 17.1389 9.22777 17.4834 8.94999C17.8278 8.67221 18.2222 8.53332 18.6667 8.53332C19.2 8.53332 19.6334 8.68332 19.9667 8.98332C20.3 9.28332 20.4667 9.68888 20.4667 10.2C20.4667 10.5111 20.3778 10.8055 20.2 11.0833C20.0222 11.3611 19.7111 11.7111 19.2667 12.1333C18.5334 12.7778 18.0834 13.2833 17.9167 13.65C17.75 14.0167 17.6667 14.7111 17.6667 15.7333ZM10.6667 24C9.93335 24 9.30558 23.7389 8.78335 23.2167C8.26113 22.6944 8.00002 22.0667 8.00002 21.3333V5.33332C8.00002 4.59999 8.26113 3.97221 8.78335 3.44999C9.30558 2.92777 9.93335 2.66666 10.6667 2.66666H26.6667C27.4 2.66666 28.0278 2.92777 28.55 3.44999C29.0722 3.97221 29.3334 4.59999 29.3334 5.33332V21.3333C29.3334 22.0667 29.0722 22.6944 28.55 23.2167C28.0278 23.7389 27.4 24 26.6667 24H10.6667ZM5.33335 29.3333C4.60002 29.3333 3.97224 29.0722 3.45002 28.55C2.9278 28.0278 2.66669 27.4 2.66669 26.6667V7.99999H5.33335V26.6667H24V29.3333H5.33335Z" fill="#358F6C"/>
            </g>
          </svg>
          <div class="w-full -mt-3">
            <p class="text-xs text-center">Ujian</p>
          </div>
        </a>
        <a id="mobile-nilai" href="/nilai" class="text-main">
          <svg width="50" height="50" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g transform="translate(5 0)">
                <path id="Vector" d="M16 17.3333C14.8889 17.3333 13.9444 16.9444 13.1666 16.1667C12.3889 15.3889 12 14.4444 12 13.3333C12 12.2222 12.3889 11.2778 13.1666 10.5C13.9444 9.72221 14.8889 9.33332 16 9.33332C17.1111 9.33332 18.0555 9.72221 18.8333 10.5C19.6111 11.2778 20 12.2222 20 13.3333C20 14.4444 19.6111 15.3889 18.8333 16.1667C18.0555 16.9444 17.1111 17.3333 16 17.3333ZM7.99998 30.6667V20.3667C7.15554 19.4333 6.49998 18.3667 6.03331 17.1667C5.56665 15.9667 5.33331 14.6889 5.33331 13.3333C5.33331 10.3555 6.36665 7.83332 8.43331 5.76666C10.5 3.69999 13.0222 2.66666 16 2.66666C18.9778 2.66666 21.5 3.69999 23.5666 5.76666C25.6333 7.83332 26.6666 10.3555 26.6666 13.3333C26.6666 14.6889 26.4333 15.9667 25.9666 17.1667C25.5 18.3667 24.8444 19.4333 24 20.3667V30.6667L16 28L7.99998 30.6667ZM16 21.3333C18.2222 21.3333 20.1111 20.5555 21.6666 19C23.2222 17.4444 24 15.5555 24 13.3333C24 11.1111 23.2222 9.22221 21.6666 7.66666C20.1111 6.1111 18.2222 5.33332 16 5.33332C13.7778 5.33332 11.8889 6.1111 10.3333 7.66666C8.77776 9.22221 7.99998 11.1111 7.99998 13.3333C7.99998 15.5555 8.77776 17.4444 10.3333 19C11.8889 20.5555 13.7778 21.3333 16 21.3333Z" fill="#358F6C"/>
              </g>
          </svg>
          <div class="w-full -mt-3">
            <p class="text-xs text-center">Nilai</p>
          </div>
        </a>
      <% }%>
    </div>

  </div>

</div>
