<%- include('./layouts/header'); -%>
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>

  <!-- MAIN -->
  <main>
    <%- include('./layouts/superSidebar'); -%>
    <section id="ujian-page" class="h-full bg-white rounded-tl-3xl p-8">
      <div class="flex justify-between">
        <p id="title" class="text-main font-bold text-2xl">Beranda</p>
      </div>
      <div class="min-h-screen">
        <div class="grid grid-cols-3 gap-4 mt-7 items-start">
          <a href="/ujian/buat" id="beranda-tambah-ujian" class="hover:-translate-y-1 duration-200 cursor-pointer shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.38)] rounded-lg border border-main flex justify-center items-center flex-col h-[200px]">
            <div class="bg-main rounded-full w-[35px] h-[35px] mb-1">
              <img src="/img/plus.png" alt="">
            </div>
            <p class="text-main text-base">Tambah Ujian Baru</p>
          </a>
        </div>
      </div>
    </section>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/berandaPage.js"></script>
