<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/berandaPage.css" />
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>

  <!-- MAIN -->
  <main>
    <div class="main-sidebar">
      <div class="profile-sidebar">
        <div class="profile-img">
          <img src="" alt="" />
        </div>
        <div class="profile-info">
          <p><b><%= user.username %></b></p>
          <p>Guru</p>
        </div>
      </div>
      <div class="list-sidebar">
        <a href="/" class="selected">Beranda</a>
        <a href="/siswa">Daftar Siswa</a>
        <a href="/ujian">Ujian</a>
        <a href="/nilai">Nilai</a>
      </div>
    </div>
    <div class="main-content">
      <div class="main-background">
        <div class="main-title">
          <h2>Beranda</h2>
        </div>
        <div class="main-home">
          <a href="/ujian/buat" class="tambah-ujian">
            <div class="ujian">
              <div class="rounded">
                <img src="/img/plus.png" alt="" width="40" />
              </div>
              <p>Tambah Ujian Baru</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>
</body>
<script src="/js/berandaPage.js"></script>
<%- include('./layouts/footer'); -%>
