<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/examPage.css" />
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>

  <!-- MAIN -->
  <main>
    <%- include('./layouts/superSidebar'); -%>
    <section id="ujian-page" class="h-full bg-white rounded-tl-3xl p-8">
      <div class="flex justify-between">
        <p class="text-main font-bold text-2xl">Daftar Ujian</p>
        <div class="flex gap-4 mt-5">
          <a href="/ujian/buat"><button class="bg-main text-white text-sm px-8 py-2 rounded-lg">Tambah Ujian</button></a>
          <button class="bg-red-500 text-white text-sm px-6 py-2 rounded-lg disabled:bg-red-500/50" disabled>Hapus</button>
        </div>
      </div>
      <div class="text-center h-screen shadow-[0_0px_40px_-15px_rgba(0,0,0,0.2)] w-full mt-8 rounded-3xl p-8 bg-white">
        <img src="/img/nothing.png" alt="" class="m-auto mt-20">
        <p class="text-sm text-main font-normal">Belum Ada Ujian</p>
      </div>
    </section>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/examPage.js"></script>
<script>
  $("#side-ujian").addClass("sidelist-selected")
</script>