<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exam Create | Muslim Maya</title>
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
    <link rel="stylesheet" href="/static/css/examCreate.css" />
  </head>
  <body>
    <!-- NAV -->
    <nav>
      <div class="nav-brand">
        <h2>Muslim Maya</h2>
        <!-- <img src="/static/img/logo.png" alt="" width="100px" /> -->
      </div>
      <div class="nav-list">
        <p id="date"></p>
        <form action="/api/admin/logout" method="post">
          <a href=""><button type="submit">Keluar</button></a>
        </form>
      </div>
    </nav>

    <!-- MAIN -->
    <main>
      <div class="main-sidebar">
        <div class="profile-sidebar">
          <div class="profile-img">
            <img src="" alt="" />
          </div>
          <div class="profile-info">
            <p><b><%= user.username %></b></p>
            <p>Guru</p>
          </div>
        </div>
        <div class="list-sidebar">
          <a href="/">Beranda</a>
          <a href="/siswa">Daftar Siswa</a>
          <a href="/ujian" class="selected">Ujian</a>
          <a href="/nilai">Nilai</a>
        </div>
      </div>

      <div class="main-content">
        <div class="main-background">
          <form id="submit-form">
            <div class="main-title">
              <h2>Membuat Ujian Baru</h2>
            </div>
            <div class="main-input">
              <label for="">
                Nama Ujian <br />
                <input
                  class="exam-type"
                  type="text"
                  name="exam_name"
                  id=""
                  required
                  placeholder="masukan nama ujian"
                />
                Tipe Ujian
                <select name="exam_type" class="exam-type" required>
                  <option value="">--pilih ujian--</option>
                  <option value="manasik">Manasik</option>
                  <option value="jenazah">Jenazah</option>
                  <option value="zakat">Zakat</option>
                </select>
              </label>
              <div class="main-input-config">
                <label for="">
                  KKM <br />
                  <input
                    class="exam-input"
                    type="number"
                    name="kkm_point"
                    id=""
                    value="70"
                  />
                </label>
                <label for="">
                  Max.Percobaan <br />
                  <input
                    class="exam-input"
                    type="number"
                    name="available_try"
                    id=""
                    value="2"
                  />
                </label>
              </div>
            </div>
            <button class="main-create-question" id="add-question">
              Membuat Soal
            </button>
            <div class="submit-layer">
              <div class="submit-question">
                <img src="/static/img/warning-alt.png" alt="" width="150" />
                <p>Apakah anda sudah yakin selesai?</p>
                <div class="submit-buttons">
                  <button class="ubah-button" type="button">Ubah</button>
                  <button class="selesai-button" type="submit">Selesai</button>
                </div>
              </div>
            </div>
            <div class="file-layer">
              <div class="file-toolarge">
                File terlalu besar <br />
                max: 200kb
                <button>Ok</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
  <script src="/static/js/examCreate.js"></script>
</html>
