<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exam Page | Muslim Maya</title>
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="static/css/examPage.css" />
  </head>
  <body>
    <!-- NAV -->
    <nav>
      <div class="nav-brand">
        <h2>Muslim Maya</h2>
        <!-- <img src="/static/img/logo.png" alt="" width="100px" /> -->
      </div>
      <div class="nav-list">
        <p id="date"></p>
        <form action="/api/admin/logout" method="post">
          <a href=""><button type="submit">Keluar</button></a>
        </form>
      </div>
    </nav>

    <!-- MAIN -->
    <main>
      <div class="main-sidebar">
        <div class="profile-sidebar">
          <div class="profile-img">
            <img src="" alt="" />
          </div>
          <div class="profile-info">
            <p><b><%= user.username %></b></p>
            <p>Guru</p>
          </div>
        </div>
        <div class="list-sidebar">
          <a href="/">Beranda</a>
          <a href="/siswa">Daftar Siswa</a>
          <a href="/ujian" class="selected">Ujian</a>
          <a href="/nilai">Nilai</a>
        </div>
      </div>
      <div class="main-content">
        <div class="main-background">
          <div class="main-title">
            <h2>Daftar Ujian</h2>
            <a href="/ujian/buat"><button>+ Buat Ujian Baru</button></a>
          </div>
          <div class="main-table">
            <div class="main-table-title">
              <p><b>No.</b></p>
              <p><b>Nama Ujian</b></p>
              <p><b>Tipe Ujian</b></p>
              <p><b>Nilai KKM</b></p>
              <p><b>Max.Percobaan</b></p>
            </div>
            <hr />
            <div class="main-table-body"></div>
          </div>
        </div>
      </div>
    </main>
  </body>

  <script>
    $(document).ready(() => {
      const d = new Date();
      let text;
      text = d.toLocaleString("id-ID", {
        dateStyle: "medium",
      });
      $("#date").html(text);

      const url = "/api/exams";
      let datas;
      $.get(url, async (data, status) => {
        if (status == "success" && data.payload.datas.length !== 0) {
          $(".main-table-body").html("");
          $(".main-table-body").css({
            "text-align": "left",
            // padding: "0.5rem 2rem",
            margin: ".5rem 2rem",
          });
          datas = data.payload.datas;
          datas.map((data, index) => {
            $(".main-table-body").append([
              `
                <div class="table-body">
                  <p>${index + 1}.</p>
                  <a href="#">${data.exam_name}</a>
                  <p>${data.exam_type}</p>
                  <p>${data.kkm_point}</p>
                  <p>${data.available_try}</p>
                </div>
              `,
            ]);
          });
        } else {
          $(".main-table-body").append([
            `
                <img src="/static/img/nothing.png" alt="" />
                <p>Tidak ada ujian</p>
              `,
          ]);
        }
      });
    });
  </script>
</html>
