<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/loginPage.css" />
<body>
  <main>
    <div class="content">
      <div class="content-input">
        <p style="font-size: 1.1rem; color: rgb(228, 228, 228);">MASUK KE LMS</p>
        <img src="/img/logo.png" alt="" />
        <div class="" style="display: flex; align-items: center; gap: 1rem; text-align: left; border-radius: 8px;
        background: rgba(0, 0, 0, 0.32); padding: .5rem 1rem; margin-top: 2rem;">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 50 50" fill="none">
            <path d="M22.5 37.5H27.5V22.5H22.5V37.5ZM25 17.5C25.7083 17.5 26.3021 17.2604 26.7812 16.7812C27.2604 16.3021 27.5 15.7083 27.5 15C27.5 14.2917 27.2604 13.6979 26.7812 13.2187C26.3021 12.7396 25.7083 12.5 25 12.5C24.2917 12.5 23.6979 12.7396 23.2187 13.2187C22.7396 13.6979 22.5 14.2917 22.5 15C22.5 15.7083 22.7396 16.3021 23.2187 16.7812C23.6979 17.2604 24.2917 17.5 25 17.5ZM25 50C21.5417 50 18.2917 49.3437 15.25 48.0312C12.2083 46.7187 9.5625 44.9375 7.3125 42.6875C5.0625 40.4375 3.28125 37.7917 1.96875 34.75C0.65625 31.7083 0 28.4583 0 25C0 21.5417 0.65625 18.2917 1.96875 15.25C3.28125 12.2083 5.0625 9.5625 7.3125 7.3125C9.5625 5.0625 12.2083 3.28125 15.25 1.96875C18.2917 0.65625 21.5417 0 25 0C28.4583 0 31.7083 0.65625 34.75 1.96875C37.7917 3.28125 40.4375 5.0625 42.6875 7.3125C44.9375 9.5625 46.7187 12.2083 48.0312 15.25C49.3437 18.2917 50 21.5417 50 25C50 28.4583 49.3437 31.7083 48.0312 34.75C46.7187 37.7917 44.9375 40.4375 42.6875 42.6875C40.4375 44.9375 37.7917 46.7187 34.75 48.0312C31.7083 49.3437 28.4583 50 25 50Z" fill="#FBDA5B"/>
          </svg>
          <div class="">
            <p style="font-size: 12px; font-weight: bold; margin: 0; color: #FBDA5B;">Petunjuk Username</p>
            <p style="font-size: 12px; font-weight: 400; margin: 0; margin-top: .2rem;">Username anda adalah (Kode Sekolah 4 Digit + NUPTK)</p>
          </div>
        </div>
        <form id="formLogin">
          <div class="input">
            <i class="uil uil-user"></i>
            <input type="text" required name="nuptk" placeholder="Username" maxlength="30" pattern="[A-Za-z0-9]+"/>
          </div>
          <div class="input">
            <i class="uil uil-lock"></i>
            <input
              type="password"
              required
              name="password"
              placeholder="Password"
              maxlength="30"
            />
          </div>
      </div>
        <button class="loginButton">MASUK</button>
      </form>
    </div>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/loginPage.js"></script>
