<%- include('./layouts/header'); -%>
<body class="h-screen flex items-center bg-second">
  <section id="login-page" class="w-[35%] m-auto">
    <form id="form-login" class="flex flex-col border-2 border-third rounded-2xl overflow-hidden">
      <div class="bg-main px-12 pt-5 pb-8">
        <div class="login-page-head text-center flex flex-col gap-4 mb-5">
          <p class="font-bold text-lg text-white/70">MASUK KE LMS</p>
          <img src="/img/logo.png" alt="" width="50%" class="m-auto"/>
          <div class="flex items-center gap-3 text-left bg-[#000]/30 rounded-lg px-3 py-2.5">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
              <path d="M22.5 37.5H27.5V22.5H22.5V37.5ZM25 17.5C25.7083 17.5 26.3021 17.2604 26.7812 16.7812C27.2604 16.3021 27.5 15.7083 27.5 15C27.5 14.2917 27.2604 13.6979 26.7812 13.2187C26.3021 12.7396 25.7083 12.5 25 12.5C24.2917 12.5 23.6979 12.7396 23.2187 13.2187C22.7396 13.6979 22.5 14.2917 22.5 15C22.5 15.7083 22.7396 16.3021 23.2187 16.7812C23.6979 17.2604 24.2917 17.5 25 17.5ZM25 50C21.5417 50 18.2917 49.3437 15.25 48.0312C12.2083 46.7187 9.5625 44.9375 7.3125 42.6875C5.0625 40.4375 3.28125 37.7917 1.96875 34.75C0.65625 31.7083 0 28.4583 0 25C0 21.5417 0.65625 18.2917 1.96875 15.25C3.28125 12.2083 5.0625 9.5625 7.3125 7.3125C9.5625 5.0625 12.2083 3.28125 15.25 1.96875C18.2917 0.65625 21.5417 0 25 0C28.4583 0 31.7083 0.65625 34.75 1.96875C37.7917 3.28125 40.4375 5.0625 42.6875 7.3125C44.9375 9.5625 46.7187 12.2083 48.0312 15.25C49.3437 18.2917 50 21.5417 50 25C50 28.4583 49.3437 31.7083 48.0312 34.75C46.7187 37.7917 44.9375 40.4375 42.6875 42.6875C40.4375 44.9375 37.7917 46.7187 34.75 48.0312C31.7083 49.3437 28.4583 50 25 50Z" fill="#FBDA5B"/>
            </svg>
            <div class="">
              <p class="text-xs text-[#FBDA5B] font-bold">Petunjuk Username</p>
              <p class="text-xs text-white"><b>Username anda adalah Kode Sekolah 4 Digit + NUPTK</b><br>
                Contoh: Jika kode sekolah kamu adalah 0001 dan NUPTK adalah 789456, maka username kamu adalah 0001789456.</p>
            </div>
          </div>
        </div>
        <div class="login-page-body">
          <div class="w-full flex flex-col gap-2">

            <!-- INPUT USERNAME DI LOGIN -->

            <label class="block">
              <div class="flex border border-[#2C7D5E] rounded-lg items-center px-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 64 64" fill="none">
                  <path d="M32.0013 32.0003C29.068 32.0003 26.5569 30.9559 24.468 28.867C22.3791 26.7781 21.3346 24.267 21.3346 21.3337C21.3346 18.4003 22.3791 15.8892 24.468 13.8003C26.5569 11.7114 29.068 10.667 32.0013 10.667C34.9346 10.667 37.4457 11.7114 39.5346 13.8003C41.6235 15.8892 42.668 18.4003 42.668 21.3337C42.668 24.267 41.6235 26.7781 39.5346 28.867C37.4457 30.9559 34.9346 32.0003 32.0013 32.0003ZM16.0013 53.3337C14.5346 53.3337 13.2791 52.8114 12.2346 51.767C11.1902 50.7225 10.668 49.467 10.668 48.0003V45.867C10.668 44.3559 11.0569 42.967 11.8346 41.7003C12.6124 40.4337 13.6457 39.467 14.9346 38.8003C17.6902 37.4225 20.4902 36.3892 23.3346 35.7003C26.1791 35.0114 29.068 34.667 32.0013 34.667C34.9346 34.667 37.8235 35.0114 40.668 35.7003C43.5124 36.3892 46.3124 37.4225 49.068 38.8003C50.3569 39.467 51.3902 40.4337 52.168 41.7003C52.9457 42.967 53.3346 44.3559 53.3346 45.867V48.0003C53.3346 49.467 52.8124 50.7225 51.768 51.767C50.7235 52.8114 49.468 53.3337 48.0013 53.3337H16.0013Z" fill="white"/>
                </svg>
                <input
                  type="text"
                  name="nuptk"
                  class="bg-transparent border-0 focus:ring-0 focus:outline-none w-full py-4 px-4 placeholder:text-white-80 text-white"
                  placeholder="Username"
                />
              </div>
            </label>

            <!-- INPUT PASSWORD DI LOGIN -->

            <label class="block">
              <div class="flex border border-[#2C7D5E] rounded-lg items-center px-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 64 64" fill="none">
                  <path d="M16.0013 58.667C14.5346 58.667 13.2791 58.1448 12.2346 57.1003C11.1902 56.0559 10.668 54.8003 10.668 53.3337V26.667C10.668 25.2003 11.1902 23.9448 12.2346 22.9003C13.2791 21.8559 14.5346 21.3337 16.0013 21.3337H18.668V16.0003C18.668 12.3114 19.968 9.16699 22.568 6.56699C25.168 3.96699 28.3124 2.66699 32.0013 2.66699C35.6902 2.66699 38.8346 3.96699 41.4346 6.56699C44.0346 9.16699 45.3346 12.3114 45.3346 16.0003V21.3337H48.0013C49.468 21.3337 50.7235 21.8559 51.768 22.9003C52.8124 23.9448 53.3346 25.2003 53.3346 26.667V53.3337C53.3346 54.8003 52.8124 56.0559 51.768 57.1003C50.7235 58.1448 49.468 58.667 48.0013 58.667H16.0013ZM32.0013 45.3337C33.468 45.3337 34.7235 44.8114 35.768 43.767C36.8124 42.7225 37.3346 41.467 37.3346 40.0003C37.3346 38.5337 36.8124 37.2781 35.768 36.2337C34.7235 35.1892 33.468 34.667 32.0013 34.667C30.5346 34.667 29.2791 35.1892 28.2346 36.2337C27.1902 37.2781 26.668 38.5337 26.668 40.0003C26.668 41.467 27.1902 42.7225 28.2346 43.767C29.2791 44.8114 30.5346 45.3337 32.0013 45.3337ZM24.0013 21.3337H40.0013V16.0003C40.0013 13.7781 39.2235 11.8892 37.668 10.3337C36.1124 8.7781 34.2235 8.00033 32.0013 8.00033C29.7791 8.00033 27.8902 8.7781 26.3346 10.3337C24.7791 11.8892 24.0013 13.7781 24.0013 16.0003V21.3337Z" fill="white"/>
                </svg>
                <input
                  type="password"
                  name="password"
                  class="bg-transparent border-0 focus:ring-0 focus:outline-none w-full py-4 px-4 placeholder:text-white-80 text-white"
                  id="login-password"
                  placeholder="Password"
                />
                <button type="button" class="show-password" data-input="#login-password">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 13.3333C11.0417 13.3333 11.9271 12.9687 12.6563 12.2396C13.3855 11.5104 13.75 10.625 13.75 9.58333C13.75 8.54166 13.3855 7.65625 12.6563 6.92708C11.9271 6.19791 11.0417 5.83333 10 5.83333C8.95837 5.83333 8.07296 6.19791 7.34379 6.92708C6.61462 7.65625 6.25004 8.54166 6.25004 9.58333C6.25004 10.625 6.61462 11.5104 7.34379 12.2396C8.07296 12.9687 8.95837 13.3333 10 13.3333ZM10 11.8333C9.37504 11.8333 8.84379 11.6146 8.40629 11.1771C7.96879 10.7396 7.75004 10.2083 7.75004 9.58333C7.75004 8.95833 7.96879 8.42708 8.40629 7.98958C8.84379 7.55208 9.37504 7.33333 10 7.33333C10.625 7.33333 11.1563 7.55208 11.5938 7.98958C12.0313 8.42708 12.25 8.95833 12.25 9.58333C12.25 10.2083 12.0313 10.7396 11.5938 11.1771C11.1563 11.6146 10.625 11.8333 10 11.8333ZM10 15.8333C7.97226 15.8333 6.12504 15.2674 4.45837 14.1354C2.79171 13.0035 1.58337 11.4861 0.833374 9.58333C1.58337 7.68055 2.79171 6.16319 4.45837 5.03124C6.12504 3.8993 7.97226 3.33333 10 3.33333C12.0278 3.33333 13.875 3.8993 15.5417 5.03124C17.2084 6.16319 18.4167 7.68055 19.1667 9.58333C18.4167 11.4861 17.2084 13.0035 15.5417 14.1354C13.875 15.2674 12.0278 15.8333 10 15.8333Z" fill="white"/>
                  </svg>
                </button>
              </div>
            </label>
          </div>
          
        </div>
      </div>
      <div class="bg-third py-5 px-12">
        <button type="submit" class="bg-white hover:bg-gray-100 duration-300 text-sm w-full rounded-full py-4 text-[#000] font-bold cursor-pointer">MASUK</button>
      </div>
    </form>
  </section>

</body>
<%- include('./layouts/footer'); -%>
<script src="/js/loginPage.js"></script>
<script>
$(".show-password").click(function () {
  const inputId = $(this).data("input");
  const passwordInput = $(inputId);

  if (passwordInput.attr("type") === "password") {
    passwordInput.attr("type", "text");
    $(this).html(`<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 64 64" fill="none">
                    <path d="M51.4661 43.9996L42.9328 35.4663C43.2884 34.7107 43.555 33.9441 43.7328 33.1663C43.9106 32.3885 43.9995 31.5552 43.9995 30.6663C43.9995 27.3329 42.8328 24.4996 40.4995 22.1663C38.1661 19.8329 35.3328 18.6663 31.9995 18.6663C31.1106 18.6663 30.2773 18.7552 29.4995 18.9329C28.7217 19.1107 27.955 19.3774 27.1995 19.7329L20.3995 12.9329C22.2217 12.1774 24.0884 11.6107 25.9995 11.2329C27.9106 10.8552 29.9106 10.6663 31.9995 10.6663C38.355 10.6663 44.0661 12.3441 49.1328 15.6996C54.1995 19.0552 57.9995 23.4218 60.5328 28.7996C60.6661 29.0218 60.755 29.2996 60.7995 29.6329C60.8439 29.9663 60.8661 30.3107 60.8661 30.6663C60.8661 31.0218 60.8328 31.3663 60.7661 31.6996C60.6995 32.0329 60.6217 32.3107 60.5328 32.5329C59.5106 34.7996 58.2328 36.9107 56.6995 38.8663C55.1661 40.8218 53.4217 42.5329 51.4661 43.9996ZM50.9328 58.3996L41.5995 49.1996C40.0439 49.6885 38.4773 50.0552 36.8995 50.2996C35.3217 50.5441 33.6884 50.6663 31.9995 50.6663C25.6439 50.6663 19.9328 48.9885 14.8661 45.6329C9.79948 42.2774 5.99948 37.9107 3.46615 32.5329C3.33281 32.3107 3.24392 32.0329 3.19948 31.6996C3.15503 31.3663 3.13281 31.0218 3.13281 30.6663C3.13281 30.3107 3.15503 29.9774 3.19948 29.6663C3.24392 29.3552 3.33281 29.0885 3.46615 28.8663C4.39948 26.8663 5.51059 25.0218 6.79948 23.3329C8.08837 21.6441 9.51059 20.0885 11.0661 18.6663L5.53281 13.0663C5.04392 12.5774 4.79948 11.9663 4.79948 11.2329C4.79948 10.4996 5.06615 9.86628 5.59948 9.33294C6.08837 8.84405 6.71059 8.59961 7.46615 8.59961C8.2217 8.59961 8.84392 8.84405 9.33281 9.33294L54.6661 54.6663C55.155 55.1552 55.4106 55.7663 55.4328 56.4996C55.455 57.2329 55.1995 57.8663 54.6661 58.3996C54.1773 58.8885 53.555 59.1329 52.7995 59.1329C52.0439 59.1329 51.4217 58.8885 50.9328 58.3996ZM31.9995 42.6663C32.4884 42.6663 32.9439 42.6441 33.3661 42.5996C33.7884 42.5552 34.2439 42.4663 34.7328 42.3329L20.3328 27.9329C20.1995 28.4218 20.1106 28.8774 20.0661 29.2996C20.0217 29.7218 19.9995 30.1774 19.9995 30.6663C19.9995 33.9996 21.1661 36.8329 23.4995 39.1663C25.8328 41.4996 28.6661 42.6663 31.9995 42.6663ZM39.0661 31.5996L31.0661 23.5996C33.5995 23.1996 35.6661 23.9107 37.2661 25.7329C38.8661 27.5552 39.4661 29.5107 39.0661 31.5996Z" fill="#1E5C44"/>
                  </svg>`);
  } else {
    passwordInput.attr("type", "password");
    $(this).html(`<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M10 13.3333C11.0417 13.3333 11.9271 12.9687 12.6563 12.2396C13.3855 11.5104 13.75 10.625 13.75 9.58333C13.75 8.54166 13.3855 7.65625 12.6563 6.92708C11.9271 6.19791 11.0417 5.83333 10 5.83333C8.95837 5.83333 8.07296 6.19791 7.34379 6.92708C6.61462 7.65625 6.25004 8.54166 6.25004 9.58333C6.25004 10.625 6.61462 11.5104 7.34379 12.2396C8.07296 12.9687 8.95837 13.3333 10 13.3333ZM10 11.8333C9.37504 11.8333 8.84379 11.6146 8.40629 11.1771C7.96879 10.7396 7.75004 10.2083 7.75004 9.58333C7.75004 8.95833 7.96879 8.42708 8.40629 7.98958C8.84379 7.55208 9.37504 7.33333 10 7.33333C10.625 7.33333 11.1563 7.55208 11.5938 7.98958C12.0313 8.42708 12.25 8.95833 12.25 9.58333C12.25 10.2083 12.0313 10.7396 11.5938 11.1771C11.1563 11.6146 10.625 11.8333 10 11.8333ZM10 15.8333C7.97226 15.8333 6.12504 15.2674 4.45837 14.1354C2.79171 13.0035 1.58337 11.4861 0.833374 9.58333C1.58337 7.68055 2.79171 6.16319 4.45837 5.03124C6.12504 3.8993 7.97226 3.33333 10 3.33333C12.0278 3.33333 13.875 3.8993 15.5417 5.03124C17.2084 6.16319 18.4167 7.68055 19.1667 9.58333C18.4167 11.4861 17.2084 13.0035 15.5417 14.1354C13.875 15.2674 12.0278 15.8333 10 15.8333Z" fill="white"/>
                </svg>`);
  }
});
</script>
