<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/nilaiPage.css" />
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>

  <!-- MAIN -->
  <main>
    <div class="main-sidebar">
      <div class="profile-sidebar">
        <div class="profile-img">
          <img src="" alt="" />
        </div>
        <div class="profile-info">
          <p><b><%= user.username %></b></p>
          <p>Guru</p>
        </div>
      </div>
      <div class="list-sidebar">
        <a href="/">Beranda</a>
        <a href="/siswa">Daftar Siswa</a>
        <a href="/ujian">Ujian</a>
        <a href="/nilai" class="selected">Nilai</a>
      </div>
    </div>
    <div class="main-content">
      <div class="main-background">
        <div class="main-title">
          <h2>Nilai Siswa</h2>
          <form id="download-form" method="post">
            <a href="/exams/create"
              ><button type="submit">Download CSV</button></a
            >
          </form>
        </div>
        <div class="filter-option">
          <select name="exams-filter" id="exams-select">
            <option value="0">Manasik</option>
            <option value="1">Jenazah</option>
          </select>
        </div>
        <div class="main-table">
          <div class="main-table-title">
            <table id="siswa-table" class="display" style="width: 100%">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>NIS</th>
                  <th>Nama Siswa</th>
                  <th>Nama Ujian</th>
                  <th>Nilai</th>
                </tr>
              </thead>
            </table>
          </div>
          <hr />
          <div class="main-table-body"></div>
        </div>
      </div>
    </div>
  </main>
</body>
<script src="/js/nilaiPage.js"></script>
<%- include('./layouts/footer'); -%>
