<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exam Page | Muslim Maya</title>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="static/css/nilaiPage.css" />
  </head>
  <body>
    <!-- NAV -->
    <nav>
      <div class="nav-brand">
        <h2>Muslim Maya</h2>
        <!-- <img src="/static/img/logo.png" alt="" width="100px" /> -->
      </div>
      <div class="nav-list">
        <p id="date"></p>
        <form action="/api/admin/logout" method="post">
          <a href=""><button type="submit">Keluar</button></a>
        </form>
      </div>
    </nav>

    <!-- MAIN -->
    <main>
      <div class="main-sidebar">
        <div class="profile-sidebar">
          <div class="profile-img">
            <img src="" alt="" />
          </div>
          <div class="profile-info">
            <p><b><%= user.username %></b></p>
            <p>Guru</p>
          </div>
        </div>
        <div class="list-sidebar">
          <a href="/">Beranda</a>
          <a href="/siswa">Daftar Siswa</a>
          <a href="/ujian">Ujian</a>
          <a href="/nilai" class="selected">Nilai</a>
        </div>
      </div>
      <div class="main-content">
        <div class="main-background">
          <div class="main-title">
            <h2>Nilai Siswa</h2>
            <form id="download-form" method="post">
              <a href="/exams/create"
                ><button type="submit">Download CSV</button></a
              >
            </form>
          </div>
          <div class="filter-option">
            <select name="exams-filter" id="exams-select">
              <option value="0">Manasik</option>
              <option value="1">Jenazah</option>
            </select>
          </div>
          <div class="main-table">
            <div class="main-table-title">
              <table id="siswa-table" class="display" style="width: 100%">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Nis</th>
                    <th>Nama Siswa</th>
                    <th>Nama Ujian</th>
                    <th>Nilai</th>
                  </tr>
                </thead>
              </table>
            </div>
            <hr />
            <div class="main-table-body"></div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(() => {
      const d = new Date();
      let text;
      text = d.toLocaleString("id-ID", {
        dateStyle: "medium",
      });
      $("#date").html(text);

      // CALL

      const url = "/api/scores";
      let datas;
      $.get(url, async (data, status) => {
        if (status == "success" && data.payload.datas.length !== 0) {
          let allData = data.payload.datas;
          $("#siswa-table").DataTable({
            ajax: {
              url: "/api/scores",
              dataSrc: "payload.datas",
            },
            columns: [
              {
                data: null,
                render: function (data, type, row, meta) {
                  return meta.row + meta.settings._iDisplayStart + 1;
                },
              },
              { data: "nis" },
              { data: "username" },
              {
                data: "Exams",
                render: function (data) {
                  if (data.length !== 0) {
                    let correct = data.filter((e) => {
                      return e.unique_id == $("#exams-select").val();
                    });
                    if (correct.length !== 0) {
                      return correct[0].exam_name;
                    }
                    return "Belum mengambil ujian";
                  } else {
                    return "Belum mengambil ujian";
                  }
                },
              },
              {
                data: "Exams",
                render: function (data) {
                  if (data.length !== 0) {
                    let correct = data.filter((e) => {
                      return e.unique_id == $("#exams-select").val();
                    });
                    if (correct.length !== 0) {
                      return correct[0].ScoreExam.point;
                    }
                    return "0";
                  } else {
                    return "0";
                  }
                },
              },
            ],
          });
        } else {
          $(".main-table-body").append([
            `
                <img src="/static/img/nothing.png" alt="" />
                <p>Belum ada nilai</p>
              `,
          ]);
        }
      });

      $.get("/api/exams", async (response, status) => {
        $("#exams-select").html("");
        let exams = response.payload.datas;
        if (exams.length !== 0) {
          exams.forEach((exam, index) => {
            $("#exams-select").append(
              `<option value="${exam.unique_id}">${exam.exam_name}</option>`
            );
          });
        } else {
          $("#exams-select").append(
            `<option value="">tidak ada ujian terdaftar</option>`
          );
        }
      });

      // SELECT
      $("#exams-select").on("change", function () {
        $("#siswa-table").DataTable().clear();
        $("#siswa-table").DataTable().destroy();
        $("#siswa-table").DataTable({
          ajax: {
            url: "/api/scores",
            dataSrc: "payload.datas",
          },
          columns: [
            {
              data: null,
              render: function (data, type, row, meta) {
                return meta.row + meta.settings._iDisplayStart + 1;
              },
            },
            { data: "nis" },
            { data: "username" },
            {
              data: "Exams",
              render: function (data) {
                if (data.length !== 0) {
                  let correct = data.filter((e) => {
                    return e.unique_id == $("#exams-select").val();
                  });
                  if (correct.length !== 0) {
                    return correct[0].exam_name;
                  }
                  return "Belum mengambil ujian";
                } else {
                  return "Belum mengambil ujian";
                }
              },
            },
            {
              data: "Exams",
              render: function (data) {
                if (data.length !== 0) {
                  let correct = data.filter((e) => {
                    return e.unique_id == $("#exams-select").val();
                  });
                  if (correct.length !== 0) {
                    return correct[0].ScoreExam.point;
                  }
                  return "0";
                } else {
                  return "0";
                }
              },
            },
          ],
        });
      });

      // DOWNLOAD

      let download_form = document.getElementById("download-form");
      download_form.addEventListener("submit", function (e) {
        e.preventDefault();
        $.ajax({
          url: "/api/utils/export",
          type: "POST",
          async: false,
          cache: false,
          contentType: false,
          processData: false,
          success: (response) => {
            if (response.status_code == 200) {
              window.location.href = "files/exports/nilai-siswa.csv";
            } else if (response.payload.message == "you're not authenticated") {
              window.location = "/login";
            }
          },
        });
      });
    });
  </script>
</html>
