<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exam Create | Muslim Maya</title>
    <link rel="stylesheet" href="/static/css/examPage.css" />
    <link rel="stylesheet" href="/static/css/examCreate.css" />
  </head>
  <body>
    <!-- NAV -->
    <nav>
      <div class="nav-brand">
        <h2>Muslim Maya</h2>
      </div>
      <div class="nav-list">
        <ul>
          <li>Daftar Murid</li>
          <li>Ujian-Ujian</li>
          <li>Nilai</li>
        </ul>
      </div>
    </nav>

    <!-- MAIN -->
    <main>
      <form action="http://localhost:3000/api/exams" method="post">
        <div class="form-config">
          <label for="">
            <span>Tipe Ujian</span>
            <input type="text" name="exam_type" id="" />
          </label>
          <label for="">
            <span>Nilai KKM</span>
            <input type="text" name="kkm_point" id="" />
          </label>
          <label for="">
            <span>Max. Percobaan</span>
            <input type="text" name="available_try" id="" />
          </label>
        </div>
        <div class="form-questions">
          <div class="questions">
            <label for="">
              <input
                class="input-question"
                type="text"
                name="question_text"
                id=""
                placeholder="masukan soal"
              />
            </label>
            <br />
            <div class="question-answer">
              <label for="">
                <input
                  type="text"
                  name="answer"
                  id=""
                  placeholder="jawaban benar"
                />
                <input
                  type="text"
                  name="wrong_answer1"
                  id=""
                  placeholder="jawaban lain"
                />
                <input
                  type="text"
                  name="wrong_answer2"
                  id=""
                  placeholder="jawaban lain"
                />
                <input
                  type="text"
                  name="wrong_answer3"
                  id=""
                  placeholder="jawaban lain"
                />
              </label>
            </div>
          </div>
          <div class="questions">
            <label for="">
              <input
                class="input-question"
                type="text"
                name="question_text"
                id=""
                placeholder="masukan soal"
              />
            </label>
            <br />
            <div class="question-answer">
              <label for="">
                <input
                  type="text"
                  name="answer"
                  id=""
                  placeholder="jawaban benar"
                />
                <input
                  type="text"
                  name="wrong_answer1"
                  id=""
                  placeholder="jawaban lain"
                />
                <input
                  type="text"
                  name="wrong_answer2"
                  id=""
                  placeholder="jawaban lain"
                />
                <input
                  type="text"
                  name="wrong_answer3"
                  id=""
                  placeholder="jawaban lain"
                />
              </label>
            </div>
          </div>
          <div class="questions">
            <label for="">
              <input
                class="input-question"
                type="text"
                name="question_text"
                id=""
                placeholder="masukan soal"
              />
            </label>
            <br />
            <div class="question-answer">
              <label for="">
                <input
                  type="text"
                  name="answer"
                  id=""
                  placeholder="jawaban benar"
                />
                <input
                  type="text"
                  name="wrong_answer1"
                  id=""
                  placeholder="jawaban lain"
                />
                <input
                  type="text"
                  name="wrong_answer2"
                  id=""
                  placeholder="jawaban lain"
                />
                <input
                  type="text"
                  name="wrong_answer3"
                  id=""
                  placeholder="jawaban lain"
                />
              </label>
            </div>
          </div>
        </div>

        <input
          onclick="window.location.href = 'http://localhost:3000/exams';"
          type="submit"
          value="Submit"
        />
      </form>
    </main>
  </body>
</html>

$( "<input placeholder="jawaban benar" name="answer" class="answer" />" ), $(
"<input placeholder="jawaban lain" name="wrong_answer1" class="answer" />" ), $(
"<input placeholder="jawaban lain" name="wrong_answer2" class="answer" />" ), $(
"<input placeholder="jawaban lain" name="wrong_answer3" class="answer" />" ), $(
"<input placeholder="jawaban lain" name="wrong_answer4" class="answer" />" ),
