<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/siswaCreate.css" />
<style>
  label{
    font-weight: bold;
  }
</style>
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>

  <!-- MAIN -->
  <main>
    <%- include('./layouts/adminSidebar'); -%>

    <div class="main-content">
      <div class="main-background">
        <div class="main-title">
          <h2>
            Membuat Siswa Baru
            <span style="color: #ff4c4c; font-size: 0.7rem">*harus diisi</span>
          </h2>
        </div>
        <div class="upload-siswa">
          <form id="fileUpload" method="post">
            <label class="custom-file-upload">
              <input
                type="file"
                class="input-file"
                multiple="multiple"
                name="siswa_upload"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              />
              <!-- <i class="uil uil-file-plus-alt"></i> Upload CSV Siswa -->
              <input
                class="button-upload-csv"
                type="submit"
                value="Upload"
                disabled
              />
            </label>
            <p class="upload-csv-p">
              *pilih file yang diinginkan lalu tekan tombol upload
            </p>
          </form>
        </div>
        <form id="submit-form" method="post">
          <div class="main-input">
            <label for="">NIS<span style="color: #ff4c4c"> *</span></label>
            <input
              class="nama-input"
              required
              type="number"
              name="nis"
              id=""
              placeholder="Masukan NIS Siswa"
              max="40"
            />

            <label for=""
              >Nama Siswa<span style="color: #ff4c4c"> *</span></label
            >
            <input
              class="kelas-input"
              required
              type="text"
              name="username"
              id=""
              placeholder="Masukan Nama Siswa"
              maxlength="50" pattern="[A-Za-z0-9]+"
            />

            <label for=""
              >Jenis Kelamin<span style="color: #ff4c4c"> *</span></label
            >
            <div class="" style="display: flex; gap: 2rem; margin-bottom: .5rem">
              <div>
                <input type="radio" id="" name="gender" value="laki-laki" checked />
                <span style="margin: .5rem;" for="">Laki-Laki</span>
              </div>
            
              <div>
                <input type="radio" id="" name="gender" value="perempuan" />
                <span style="margin: .5rem;" for="">Perempuan</span>
              </div>
            </div>

            <div class="input-side">
              <div class="">
                <label for=""
                  >Kelas<span style="color: #ff4c4c"> *</span></label
                >
                <br />
                <input
                  class="nama-input"
                  required
                  type="text"
                  name="class"
                  id="class"
                  placeholder="Masukan Jurusan Kelas"
                  maxlength="30" pattern="[A-Za-z0-9]+"
                />
              </div>
              <div class="">
                <label for=""
                  >Jurusan<span style="color: #ff4c4c"> *</span></label
                >
                <br />
                <input
                  class="kelas-input"
                  required
                  type="text"
                  name="major"
                  id="major"
                  placeholder="Masukan Jurusan Siswa"
                  maxlength="30" pattern="[A-Za-z0-9]+"
                />
              </div>
            </div>
          </div>
          <div class="submit-input">
            <button type="button" id="selesai">Selesai</button>
          </div>
          <div class="submit-layer">
            <div class="submit-question">
              <img src="/img/warning-alt.png" alt="" width="150" />
              <p>Apakah anda sudah yakin selesai?</p>
              <div class="submit-buttons">
                <button class="ubah-button" type="button">Ubah</button>
                <button class="selesai-button" type="submit">Selesai</button>
              </div>
            </div>
          </div>
        </form>
        <div class="complete-layer">
          <div class="complete-background">
            <img src="/img/check.png" width="50" alt="" />
            <p>Siswa berhasil di tambahkan</p>
            <button type="button" id="complete-upload">OK</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/siswaCreate.js"></script>
