<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exam Create | Muslim Maya</title>
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/siswaEdit.css" />
  </head>
  <body>
    <!-- NAV -->
    <nav>
      <div class="nav-brand">
        <h2>Muslim Maya</h2>
        <!-- <img src="/static/img/logo.png" alt="" width="100px" /> -->
      </div>
      <div class="nav-list">
        <p id="date"></p>
        <form action="/api/admin/logout" method="post">
          <a href=""><button type="submit">Keluar</button></a>
        </form>
      </div>
    </nav>

    <!-- MAIN -->
    <main>
      <div class="main-sidebar">
        <div class="profile-sidebar">
          <div class="profile-img">
            <img src="" alt="" />
          </div>
          <div class="profile-info">
            <p><b><%= user.username %></b></p>
            <p>Guru</p>
          </div>
        </div>
        <div class="list-sidebar">
          <a href="/">Beranda</a>
          <a href="/siswa" class="selected">Daftar Siswa</a>
          <a href="/ujian">Ujian</a>
          <a href="/nilai">Nilai</a>
        </div>
      </div>

      <div class="main-content">
        <div class="main-background">
          <div class="main-title">
            <h2>Mengubah Data Siswa</h2>
          </div>
          <form id="submit-form" method="post">
            <div class="main-input">
              <label for="">
                Nis <br />
                <input
                  class="nama-input"
                  required
                  type="text"
                  name="nis"
                  id="nis"
                  readonly="true"
                />
                Nama Siswa <br />
                <input
                  class="kelas-input"
                  required
                  type="text"
                  name="username"
                  id="username"
                />
                <div class="input-side">
                  <div class="">
                    Kelas <br />
                    <input
                      class="nama-input"
                      required
                      type="text"
                      name="class"
                      id="class"
                    />
                  </div>
                  <div class="">
                    Jurusan <br />
                    <input
                      class="kelas-input"
                      required
                      type="text"
                      name="major"
                      id="major"
                    />
                  </div>
                </div>
                Ujian <br />
                <div class="exams-assign">
                  <p style="color: #358f6c">belum ada ujian terdaftar</p>
                </div>
              </label>
            </div>
            <div class="submit-input">
              <button type="button" id="selesai">Selesai</button>
            </div>
            <div class="submit-layer">
              <div class="submit-question">
                <img src="/static/img/warning-alt.png" alt="" width="150" />
                <p>Apakah anda sudah yakin ingin menyimpan perubahan ?</p>
                <div class="submit-buttons">
                  <button class="ubah-button" type="button">Ubah</button>
                  <button class="selesai-button" type="submit">Selesai</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
  <script>
    $(document).ready(() => {
      const d = new Date();
      let text;
      text = d.toLocaleString("id-ID", {
        dateStyle: "medium",
      });
      $("#date").html(text);

      // ADD SOAL

      $("#selesai").on("click", () => {
        $(".submit-layer").css("visibility", "visible");
      });

      $(".ubah-button").on("click", () => {
        $(".submit-layer").css("visibility", "hidden");
      });

      // GET URL
      let unique_id = window.location.href.substring(
        window.location.href.lastIndexOf("/") + 1
      );
      let url_input = `http://localhost:3000/api/scores/${unique_id}`;
      let url_ujian = `http://localhost:3000/api/exams`;
      let user_data;
      // SET INPUT
      $.get(url_input, async (data, status) => {
        let datas = data.payload.datas;
        user_data = data.payload.datas;
        if (status == "success" && datas.length !== 0) {
          $("#nis").val(datas.nis);
          $("#username").val(datas.username);
          $("#class").val(datas.class);
          $("#major").val(datas.major);
          if (datas.Exams) {
            datas.Exams.forEach((exam) => {
              $(".exams-assign").on("click", `#${exam.exam_name}`, function () {
                console.log(this);
              });
            });
          }
        }
      });
      // SET UJIAN
      $.get(url_ujian, async (data, status) => {
        let datas = data.payload.datas;
        if (status == "success" && datas.length !== 0) {
          $(".exams-assign").html("");
          datas.forEach((data, index) => {
            $(".exams-assign").append([
              `
              <div class="exam-assign">
                <label for="${data.exam_name}">${data.exam_name}</label>
                <input type="checkbox" name="${data.unique_id}" id="${data.unique_id}" />
              </div>`,
            ]);
            $(".exams-assign").on("change", "#" + data.unique_id, function () {
              if (!$("#" + data.unique_id).is(":checked")) {
                $(this).html(
                  `<input type="hidden" name="${data.unique_id}" id="${data.unique_id}" value="off" />`
                );
              } else {
                $("#" + data.unique_id).val("on");
              }
            });
            // CHEKED
          });
          user_data.Exams.forEach((user_exam) => {
            if (datas.find((e) => e.exam_name == user_exam.exam_name)) {
              $(`#${user_exam.unique_id}`).prop("checked", true);
            }
          });
        }
      });

      // SUBMIT
      const manualForm = document.getElementById("submit-form");
      manualForm.addEventListener("submit", (e) => {
        let formData = new FormData(manualForm);
        formData.append("unique_id", unique_id);
        e.preventDefault();
        $.ajax({
          url: "/api/scores/edit",
          type: "POST",
          data: formData,
          async: false,
          cache: false,
          contentType: false,
          encrypt: "multipart/form-data",
          processData: false,
          success: (response) => {
            console.log(response);
            if (response.payload.status_code == 200) {
              window.location = "/siswa";
            }
          },
        });
      });
    });
  </script>
</html>
