<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exam Page | Muslim Maya</title>
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
    <link rel="stylesheet" href="static/css/siswaPage.css" />
  </head>
  <body>
    <!-- NAV -->
    <nav>
      <div class="nav-brand">
        <h2>Muslim Maya</h2>
        <!-- <img src="/static/img/logo.png" alt="" width="100px" /> -->
      </div>
      <div class="nav-list">
        <p id="date"></p>
        <a href=""><button>Keluar</button></a>
      </div>
    </nav>

    <!-- MAIN -->
    <main>
      <div class="main-sidebar">
        <div class="profile-sidebar">
          <div class="profile-img">
            <img src="" alt="" />
          </div>
          <div class="profile-info">
            <p><b>Assami Muzaki</b></p>
            <p>Guru</p>
          </div>
        </div>
        <div class="list-sidebar">
          <a href="/">Beranda</a>
          <a href="/siswa" class="selected">Daftar Siswa</a>
          <a href="/ujian">Ujian</a>
          <a href="/nilai">Nilai</a>
        </div>
      </div>
      <div class="main-content">
        <div class="main-background">
          <div class="main-title">
            <h2>Daftar Siswa</h2>
            <div class="main-side">
              <a href="/siswa/tambah"
                ><button class="tambah-button">Tambah Siswa</button></a
              >
              <a href="#"><button class="hapus-button">Hapus</button></a>
            </div>
          </div>
          <div class="main-table">
            <div class="main-table-delete">
              <!-- <button class="button-delete">Hapus</button> -->
            </div>
            <div class="main-table-title">
              <p><b>No.</b></p>
              <p><b>Nama Siswa</b></p>
              <p></p>
              <p><input type="checkbox" name="" id="" /></p>
            </div>
            <hr />
            <div class="main-table-body">
              <img src="/static/img/nothing.png" alt="" />
              <p>Belum ada siswa</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script>
    $(document).ready(() => {
      const d = new Date();
      let text;
      text = d.toLocaleString("id-ID", {
        dateStyle: "medium",
      });
      $("#date").html(text);

      // DATA SISWA

      const url = "/api/scores";
      let datas;
      $.get(url, async (data, status) => {
        if (status == "success" && data.payload.datas.length !== 0) {
          $(".main-table-body").html("");
          $(".main-table-body").css({
            "text-align": "left",
            // padding: "0.5rem 2rem",
            margin: ".5rem 2rem",
          });
          datas = data.payload.datas;
          datas.map((data, index) => {
            $(".main-table-body").append([
              `
                <div class="table-body">
                  <p>${index + 1}.</p>
                  <p>${data.username}</p>
                  <a href="#"><i class="uil uil-edit"></i></a>
                  <p><input type="checkbox" name="" id="" /></p>
                </div>
              `,
            ]);
          });
        }
      });
    });
  </script>
</html>
