<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/siswaCreate.css" />
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>

  <!-- MAIN -->
  <main>
    <div class="main-sidebar">
      <div class="profile-sidebar">
        <div class="profile-img">
          <img src="" alt="" />
        </div>
        <div class="profile-info">
          <p><b><%= user.username %></b></p>
          <p>Guru</p>
        </div>
      </div>
      <div class="list-sidebar">
        <a href="/">Beranda</a>
        <a href="/siswa" class="selected">Daftar Siswa</a>
        <a href="/ujian">Ujian</a>
        <a href="/nilai">Nilai</a>
      </div>
    </div>

    <div class="main-content">
      <div class="main-background">
        <div class="main-title">
          <h2>Membuat Siswa Baru</h2>
        </div>
        <div class="upload-siswa">
          <form id="fileUpload" method="post">
            <label class="custom-file-upload">
              <input
                type="file"
                class="input-file"
                multiple="multiple"
                name="siswa_upload"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              />
              <!-- <i class="uil uil-file-plus-alt"></i> Upload CSV Siswa -->
              <input
                class="button-upload-csv"
                type="submit"
                value="Upload"
                disabled
              />
            </label>
            <p class="upload-csv-p">
              *pilih file yang diinginkan lalu tekan tombol upload
            </p>
          </form>
        </div>
        <form id="submit-form" method="post">
          <div class="main-input">
            <label for="">NIS<span style="color: #ff4c4c"> *</span></label>
            <input
              class="nama-input"
              required
              type="number"
              name="nis"
              id=""
              placeholder="Masukan NIS Siswa"
            />

            <label for=""
              >Nama Siswa<span style="color: #ff4c4c"> *</span></label
            >
            <input
              class="kelas-input"
              required
              type="text"
              name="username"
              id=""
              placeholder="Masukan Nama Siswa"
            />

            <div class="input-side">
              <div class="">
                <label for=""
                  >Kelas<span style="color: #ff4c4c"> *</span></label
                >
                <br />
                <input
                  class="nama-input"
                  required
                  type="text"
                  name="class"
                  id="class"
                  placeholder="Masukan Jurusan Kelas"
                />
              </div>
              <div class="">
                <label for=""
                  >Jurusan<span style="color: #ff4c4c"> *</span></label
                >
                <br />
                <input
                  class="kelas-input"
                  required
                  type="text"
                  name="major"
                  id="major"
                  placeholder="Masukan Jurusan Siswa"
                />
              </div>
            </div>
          </div>
          <div class="submit-input">
            <button type="button" id="selesai">Selesai</button>
          </div>
          <div class="submit-layer">
            <div class="submit-question">
              <img src="/img/warning-alt.png" alt="" width="150" />
              <p>Apakah anda sudah yakin selesai?</p>
              <div class="submit-buttons">
                <button class="ubah-button" type="button">Ubah</button>
                <button class="selesai-button" type="submit">Selesai</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>
<script src="/js/siswaCreate.js"></script>
<%- include('./layouts/footer'); -%>
