<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/siswaEdit.css" />
<style>
  label{
    font-weight: bold;
  }
</style>
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>

  <!-- MAIN -->
  <main>
    <%- include('./layouts/adminSidebar'); -%>

    <div class="main-content">
      <div class="main-background">
        <div class="main-title">
          <h2>Mengubah Data Siswa</h2>
        </div>
        <form id="submit-form" method="post">
          <div class="main-input">
            <label for="">NIS<span style="color: #ff4c4c"> *</span></label>
            <input
              class="nama-input"
              required
              type="number"
              name="nis"
              id="nis"
              placeholder="Masukan NIS Siswa"
            />

            <label for=""
              >Nama Siswa<span style="color: #ff4c4c"> *</span></label
            >
            <input
              class="kelas-input"
              required
              type="text"
              name="username"
              id="username"
              placeholder="Masukan Nama Siswa"
            />

            <label for=""
              >Jenis Kelamin<span style="color: #ff4c4c"> *</span></label
            >
            <div class="" style="display: flex; gap: 2rem; margin: .5rem 0">
              <div>
                <input type="radio" id="" name="gender" value="laki-laki" checked />
                <span style="margin: .5rem;" for="">Laki-Laki</span>
              </div>
            
              <div>
                <input type="radio" id="" name="gender" value="perempuan" />
                <span style="margin: .5rem;" for="">Perempuan</span>
              </div>
            </div>

            <div class="input-side">
              <div class="">
                <label for=""
                  >Kelas<span style="color: #ff4c4c"> *</span></label
                >
                <br />
                <input
                  class="nama-input"
                  required
                  type="text"
                  name="class"
                  id="class"
                  placeholder="Masukan Jurusan Kelas"
                />
              </div>
              <div class="">
                <label for=""
                  >Jurusan<span style="color: #ff4c4c"> *</span></label
                >
                <br />
                <input
                  class="kelas-input"
                  required
                  type="text"
                  name="major"
                  id="major"
                  placeholder="Masukan Jurusan Siswa"
                />
              </div>
            </div>
            <label for="">Ujian</label>
            <div class="exams-assign">
              <p style="color: #358f6c">belum ada ujian terdaftar</p>
            </div>
          </div>
          <div class="submit-input">
            <button type="button" id="selesai">Selesai</button>
          </div>
          <div class="submit-layer">
            <div class="submit-question">
              <img src="/img/warning-alt.png" alt="" width="150" />
              <p>Apakah anda sudah yakin ingin menyimpan perubahan ?</p>
              <div class="submit-buttons">
                <button class="ubah-button" type="button">Ubah</button>
                <button class="selesai-button" type="submit">Selesai</button>
              </div>
            </div>
          </div>
        </form>
        <div class="complete-layer">
          <div class="complete-background">
            <img src="/img/check.png" width="50" alt="" />
            <p>Data siswa berhasil diubah</p>
            <button type="button" id="complete-upload">OK</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/siswaEdit.js"></script>