<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exam Page | Muslim Maya</title>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
    <link rel="stylesheet" href="static/css/siswaPage.css" />
  </head>
  <body>
    <!-- NAV -->
    <nav>
      <div class="nav-brand">
        <h2>Muslim Maya</h2>
        <!-- <img src="/static/img/logo.png" alt="" width="100px" /> -->
      </div>
      <div class="nav-list">
        <p id="date"></p>
        <form action="/api/admin/logout" method="post">
          <a href=""><button type="submit">Keluar</button></a>
        </form>
      </div>
    </nav>

    <!-- MAIN -->
    <main>
      <div class="main-sidebar">
        <div class="profile-sidebar">
          <div class="profile-img">
            <img src="" alt="" />
          </div>
          <div class="profile-info">
            <p><b><%= user.username %></b></p>
            <p>Guru</p>
          </div>
        </div>
        <div class="list-sidebar">
          <a href="/">Beranda</a>
          <a href="/siswa" class="selected">Daftar Siswa</a>
          <a href="/ujian">Ujian</a>
          <a href="/nilai">Nilai</a>
        </div>
      </div>
      <div class="main-content">
        <div class="main-background">
          <form action="" id="form-delete">
            <!-- FORM HAPUS STARTED -->
            <div class="main-title">
              <h2>Daftar Siswa</h2>
              <div class="main-side">
                <a href="/siswa/tambah"
                  ><button class="tambah-button" type="button">
                    Tambah Siswa
                  </button></a
                >
                <button class="hapus-button">Hapus</button>
              </div>
            </div>
            <div class="main-table">
              <div class="main-table-title">
                <table id="siswa-table" class="display" style="width:100%">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Nis</th>
                      <th>Nama Siswa</th>
                      <th>Kelas</th>
                      <th>Jurusan</th>
                      <th></th>
                      <th><input type="checkbox" name="" id="selectAll" /></th>
                    </tr>
                  </thead>
                </table>
              </div>
              <hr>
              <div class="main-table-body"></div>
            <div class="submit-layer">
              <div class="submit-question">
                <img src="/static/img/warning-alt.png" alt="" width="150" />
                <p>Apakah anda yakin ingin menghapus siswa tersebut ?</p>
                <div class="submit-buttons">
                  <button class="ubah-button" type="button">Batal</button>
                  <button class="selesai-button">Hapus</button>
                  
                </div>
              </div>
            </div>
            
            <!-- FORM HAPUS ENDED -->
          </form>
        </div>
      </div>
    </main>
  </body>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(() => {
      // TIME
      const d = new Date();
      let text;
      text = d.toLocaleString("id-ID", {
        dateStyle: "medium",
      });
      $("#date").html(text);

      // DATA SISWA

      const url = "/api/scores";
      let datas;
      $.get(url, async (data, status) => {
        if (status == "success" && data.payload.datas.length !== 0) {
          
          $("#siswa-table").DataTable({
            ajax: {
              url: "/api/scores",
              dataSrc: "payload.datas",
            },
            columns: [
              {data: null, 
              render: function(data, type, row, meta){
                return meta.row + meta.settings._iDisplayStart + 1;
              }},
              { data: "nis" },
              { data: "username" },
              { data: "class" },
              { data: "major" },
              {
                data: "unique_id",
                render: function (data, type) {
                  return `<a href="/siswa/edit/${data}" class="edit-siswa"><i class="uil uil-edit"></i></a>`;
                },
              },
              {
                data: "unique_id",
                render: function (data, type) {
                  return `<input type="checkbox" name="checkedSiswa" id="" class="checkbox-delete" value="${data}" />`;
                },
              },
            ],
          });
        } else {
          $(".main-table-body").append([
            `
                <img src="/static/img/nothing.png" alt="" />
                <p>Belum ada siswa</p>
              `,
          ]);
        }

        // GET CHECKED

        const formDelete = document.getElementById("form-delete");
        $(".hapus-button").on("click", (e) => {
          e.preventDefault();
          $(".submit-layer").css("visibility", "visible");
          $(".selesai-button").on("click", (e) => {
            e.preventDefault();
            let formData = new FormData(formDelete);
            $.ajax({
              url: "/api/scores",
              type: "DELETE",
              data: formData,
              async: false,
              cache: false,
              contentType: false,
              encrypt: "multipart/form-data",
              processData: false,
              success: (response) => {
                // console.log(response);
                if (response !== undefined) {
                  window.location = "/siswa";
                }
              },
            });
          });
        });
        $(".ubah-button").on("click", () => {
          $(".submit-layer").css("visibility", "hidden");
        });
        $("#selectAll").on("click", function () {
          if ($(this).is(":checked")) {
            $(".checkbox-delete").attr("checked", true);
          } else {
            $(".checkbox-delete").attr("checked", false);
          }
        });
      });
    });
  </script>
</html>
