<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/siswaCreate.css" />
<style>
  label{
    font-weight: bold;
  }
</style>
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>
  
  <!-- MAIN -->
  <main>
    <%- include('./layouts/superSidebar'); -%>
    <div class="main-content">
      <div class="main-background">
        <div class="main-title">
          <h2>
            Menambahkan Admin Baru
            <span style="color: #ff4c4c; font-size: 0.7rem">*harus diisi</span>
          </h2>
        </div>
        <form id="submit-form">
          <div class="main-input">
            <label for="">Email<span style="color: #ff4c4c"> *</span></label>
            <input
              class="nama-input"
              required
              type="email"
              name="email"
              id=""
              placeholder="Masukan Email Admin"
            />
            <label for="">NUPTK<span style="color: #ff4c4c"> *</span></label>
            <input
              class="nama-input"
              required
              type="number"
              name="nuptk"
              id=""
              placeholder="Masukan NUPTK Admin"
            />

            <label for=""
              >Nama Admin<span style="color: #ff4c4c"> *</span></label
            >
            <input
              class="kelas-input"
              required
              type="text"
              name="username"
              id=""
              placeholder="Masukan Nama Admin"
            />
            <label for=""
              >Jenis Kelamin<span style="color: #ff4c4c"> *</span></label
            >
            <div class="" style="display: flex; gap: 2rem; margin-bottom: .5rem">
              <div>
                <input type="radio" id="" name="gender" value="laki-laki" checked />
                <span style="margin: .5rem;" for="">Laki-Laki</span>
              </div>
            
              <div>
                <input type="radio" id="" name="gender" value="perempuan" />
                <span style="margin: .5rem;" for="">Perempuan</span>
              </div>
            </div>
          </div>
          <div class="submit-input">
            <button type="button" id="selesai">Selesai</button>
          </div>
          <div class="submit-layer">
            <div class="submit-question">
              <img src="/img/warning-alt.png" alt="" width="150" />
              <p>Apakah anda sudah yakin selesai?</p>
              <div class="submit-buttons">
                <button class="ubah-button" type="button">Ubah</button>
                <button class="selesai-button" type="submit">Selesai</button>
              </div>
            </div>
          </div>
        </form>
        <div class="complete-layer">
          <div class="complete-background">
            <img src="/img/check.png" width="50" alt="" />
            <p>Admin berhasil di tambahkan</p>
            <button type="button" id="complete-upload">OK</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div style="position: fixed; bottom: 2rem; right: 2rem;">
    <a href="mailto:hello@festivo.co">
      <img src="/img/chatbot.png" width="50px" alt="">
    </a>
  </div>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/superAdminCreate.js"></script>
