<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/siswaCreate.css" />
<style>
  .ubah-katasandi-layer {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* width: 100%;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ubah-katasandi-bg {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 5rem;
    background-color: white;
    color: black;
    gap: 1rem;
  }
  .ubah-katasandi-bg h2 {
    margin: 0 0 1rem;
  }
  .ubah-katasandi-bg input {
    width: 150%;
    padding: 0.7rem 1rem;
    border-radius: 5px;
  }
  .ubah-katasandi-button {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  .ubah-katasandi-button button {
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
  }
  .ubah {
    background-color: #ff4c4c;
  }
  .submit {
    background-color: #358f6c;
  }
</style>
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>

  <!-- MAIN -->
  <main>
    <%- include('./layouts/superSidebar'); -%>
    <div class="main-content">
      <div class="main-background">
        <div class="main-title">
          <h2>
            Mengubah Data Admin
            <span style="color: #ff4c4c; font-size: 0.7rem">*harus diisi</span>
          </h2>
        </div>
        <form id="submit-form">
          <div class="main-input">
            <label for="">Email<span style="color: #ff4c4c"> *</span></label>
            <input
              class="nama-input"
              required
              type="email"
              name="email"
              id="email"
              placeholder="Masukan Email Admin"
            />

            <label for=""
              >Nama Admin<span style="color: #ff4c4c"> *</span></label
            >
            <input
              class="kelas-input"
              required
              type="text"
              name="username"
              id="username"
              placeholder="Masukan Nama Admin"
            />
          </div>
          <button type="button" class="ubah-katasandi">Ubah Kata Sandi</button>
          <div class="submit-input">
            <button type="button" id="selesai">Selesai</button>
          </div>
          <div class="submit-layer">
            <div class="submit-question">
              <img src="/img/warning-alt.png" alt="" width="150" />
              <p>Apakah anda sudah yakin selesai?</p>
              <div class="submit-buttons">
                <button class="ubah-button" type="button">Ubah</button>
                <button class="selesai-button" type="submit">Selesai</button>
              </div>
            </div>
          </div>
        </form>
        <form id="password-from">
          <div class="ubah-katasandi-layer">
            <div class="ubah-katasandi-bg">
              <h2>Ubah kata sandi</h2>
              <input
                type="password"
                name="password_lama"
                id=""
                placeholder="Masukan kata sandi lama"
                required
              />
              <input
                type="password"
                name=""
                id="password"
                placeholder="Masukan kata sandi baru"
                required
              />
              <input
                type="password"
                name="password_baru"
                id="confirm_password"
                placeholder="Konfirmasi kata sandi baru"
                required
              />
              <div class="ubah-katasandi-button">
                <button class="ubah" type="button">Batal</button>
                <button class="submit" type="submit">Ubah Kata Sandi</button>
              </div>
            </div>
          </div>
        </form>
        <div class="complete-layer">
          <div class="complete-background">
            <img src="/img/check.png" width="50" alt="" />
            <p>Data admin berhasil diubah</p>
            <button type="button" id="complete-upload">OK</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/superUpdateAdmin.js"></script>
<script>
  let introTampil = false
  function initializeIntro(stepConfig) {
    const intro = introJs();
    intro.setOptions(stepConfig);
    return intro;
  }
  let first_intro = initializeIntro({
    dontShowAgainCookie: "adminEdit_intro",
    dontShowAgain: true,
    dontShowAgainLabel: "Jangan tampilkan lagi",
    tooltipClass: "customTooltip",
    prevLabel: "Kembali",
    nextLabel: "Lanjut",
    doneLabel: "Selesai",
    steps: [
      {
        title: "Edit Admin",
        intro: "Halaman ini berfungsi untuk mengubah informasi Admin yang telah ada. Tampilan pada halaman ini mirip seperti pada saat membuat Admin baru sehingga Super Admin dapat langsung mengubah informasi yang diinginkan.",
      },
      {
        element: ".ubah-katasandi",
        intro: "Tombol ini berfungsi untuk mengubah kata sandi dari akun Admin yang dipilih.",
      },
    ],
  });
  first_intro.start();
  $(".adminSidebar").addClass('selected')
  $(".ubah-katasandi").click(function () {
    $(".ubah-katasandi-layer").css("visibility", "visible");
    if(!introTampil){
      first_intro.exit()
      let password_intro = initializeIntro({
      dontShowAgainCookie: "adminEdit_intro",
      dontShowAgain: true,
      dontShowAgainLabel: "Jangan tampilkan lagi",
      tooltipClass: "customTooltip",
      prevLabel: "Kembali",
      nextLabel: "Lanjut",
      doneLabel: "Selesai",
      steps: [
        {
          element: ".ubah-katasandi-bg",
          intro: "Masukkan kata sandi sebelumnya dan kata sandi baru di sini",
        },
        {
          element: ".submit",
          intro: "Tekan tomboh ini untuk menyimpan kata sandi baru",
          position: "right"
        },
      ],
    });
      password_intro.start();
      introTampil = true
    }
  });
  $(".ubah").click(function () {
    $(".ubah-katasandi-layer").css("visibility", "hidden");
  });

  // CONFIRM
  let password = document.getElementById("password"),
    confirm_password = document.getElementById("confirm_password");

  function validatePassword() {
    if (password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Password Tidak Sama");
    } else {
      confirm_password.setCustomValidity("");
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;

  let unique_id = window.location.href.substring(
    window.location.href.lastIndexOf("/") + 1
  );

  let password_from = document.getElementById("password-from");
  password_from.addEventListener("submit", function (e) {
    e.preventDefault();
    let formData = new FormData(password_from);
    formData.append("unique_id", unique_id);
    $.ajax({
      url: "/api/admin/password",
      type: "PUT",
      data: formData,
      async: false,
      cache: false,
      contentType: false,
      encrypt: "multipart/form-data",
      processData: false,
      success: (response) => {
        if (response.payload.status_code == 200) {
          $(".complete-layer").removeClass("hide");
          $(".complete-layer").css("visibility", "visible");
        }
      },
      error: (response) => {
        alert(response.responseJSON.payload.message);
      },
    });
  });
  $('form').bind("keypress", function(e) {
        if (e.keyCode == 13) {               
            e.preventDefault();
            return false;
        }
    });
</script>
