<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/siswaCreate.css" />
<style>
  label{
    font-weight: bold;
  }
  .ubah-katasandi-layer {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* width: 100%;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ubah-katasandi-bg {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 5rem;
    background-color: white;
    color: black;
    gap: 1rem;
  }
  .ubah-katasandi-bg h2 {
    margin: 0 0 1rem;
  }
  .ubah-katasandi-bg input {
    width: 150%;
    padding: 0.7rem 1rem;
    border-radius: 5px;
  }
  .ubah-katasandi-button {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  .ubah-katasandi-button button {
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
  }
  .ubah {
    background-color: #ff4c4c;
  }
  .submit {
    background-color: #358f6c;
  }
</style>
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>

  <!-- MAIN -->
  <main>
    <%- include('./layouts/superSidebar'); -%>
    <div class="main-content">
      <div class="main-background">
        <div class="main-title">
          <h2>
            Mengubah Data Admin
            <span style="color: #ff4c4c; font-size: 0.7rem">*harus diisi</span>
          </h2>
        </div>
        <form id="submit-form">
          <div class="main-input">
            <label for="">Email<span style="color: #ff4c4c"> *</span></label>
            <input
              class="nama-input"
              required
              type="email"
              name="email"
              id="email"
              placeholder="Masukan Email Admin"
              maxlength="40"
            />
            <label for=""
              >NUPTK<span style="color: #ff4c4c"> *</span></label
            >
            <input
              class="kelas-input"
              required
              type="number"
              name="nuptk"
              id="nuptk"
              placeholder="Masukan Nama Admin"
              max="40"
            />
            <label for=""
              >Nama Admin<span style="color: #ff4c4c"> *</span></label
            >
            <input
              class="kelas-input"
              required
              type="text"
              name="username"
              id="username"
              placeholder="Masukan Nama Admin"
              maxlength="40" pattern="[A-Za-z0-9]+"
            />
            <label for="">Jenis Kelamin<span style="color: #ff4c4c"> *</span></label>
              <div class="" style="display: flex; gap: 2rem; margin-bottom: .5rem">
                <div>
                  <input type="radio" id="" name="gender" value="laki-laki" checked />
                  <span style="margin: .5rem;" for="">Laki-Laki</span>
                </div>
              
                <div>
                  <input type="radio" id="" name="gender" value="perempuan" />
                  <span style="margin: .5rem;" for="">Perempuan</span>
                </div>
              </div>
          </div>
          <button type="button" class="ubah-katasandi">Ubah Kata Sandi</button>
          <div class="submit-input">
            <button type="button" id="selesai">Selesai</button>
          </div>
          <div class="submit-layer">
            <div class="submit-question">
              <img src="/img/warning-alt.png" alt="" width="150" />
              <p>Apakah anda sudah yakin selesai?</p>
              <div class="submit-buttons">
                <button class="ubah-button" type="button">Ubah</button>
                <button class="selesai-button" type="submit">Selesai</button>
              </div>
            </div>
          </div>
        </form>
        <form id="password-from">
          <div class="ubah-katasandi-layer">
            <div class="ubah-katasandi-bg">
              <h2>Ubah kata sandi</h2>
              <input
                type="password"
                name="password_lama"
                id=""
                placeholder="Masukan kata sandi lama"
                required
                maxlength="40"
              />
              <input
                type="password"
                name=""
                id="password"
                placeholder="Masukan kata sandi baru"
                required
                maxlength="40"
              />
              <input
                type="password"
                name="password_baru"
                id="confirm_password"
                placeholder="Konfirmasi kata sandi baru"
                required
                maxlength="40"
              />
              <div class="ubah-katasandi-button">
                <button class="ubah" type="button">Batal</button>
                <button class="submit" type="submit">Ubah Kata Sandi</button>
              </div>
            </div>
          </div>
        </form>
        <div class="complete-layer">
          <div class="complete-background">
            <img src="/img/check.png" width="50" alt="" />
            <p>Data admin berhasil diubah</p>
            <button type="button" id="complete-upload">OK</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/superAdminEdit.js"></script>
