<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/siswaCreate.css" />
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>

  <!-- MAIN -->
  <main>
    <%- include('./layouts/superSidebar'); -%>
    <div class="main-content">
      <div class="main-background">
        <div class="main-title">
          <h2>
            Mengubah Topik Ujian
            <span style="color: #ff4c4c; font-size: 0.7rem">*harus diisi</span>
          </h2>
        </div>
        <form id="submit-form">
          <div class="main-input">
            <label for=""
              >Topik Ujian<span style="color: #ff4c4c"> *</span></label
            >
            <input
              class="nama-input"
              required
              type="text"
              name="exam_type"
              id="exam_type"
              placeholder="Masukan Tipe Ujian"
            />
          </div>
          <div class="submit-input">
            <button type="button" id="selesai">Selesai</button>
          </div>
          <div class="submit-layer">
            <div class="submit-question">
              <img src="/img/warning-alt.png" alt="" width="150" />
              <p>Apakah anda sudah yakin selesai?</p>
              <div class="submit-buttons">
                <button class="ubah-button" type="button">Ubah</button>
                <button class="selesai-button" type="submit">Selesai</button>
              </div>
            </div>
          </div>
        </form>
        <div class="complete-layer">
          <div class="complete-background">
            <img src="/img/check.png" width="50" alt="" />
            <p>Data topik ujian berhasil diubah</p>
            <button type="button" id="complete-upload">OK</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script>
  $(document).ready(() => {
    let first_intro = initializeIntro({
      dontShowAgainCookie: "topikCreate_intro",
      dontShowAgain: true,
      dontShowAgainLabel: "Jangan tampilkan lagi",
      tooltipClass: "customTooltip",
      prevLabel: "Kembali",
      nextLabel: "Lanjut",
      doneLabel: "Selesai",
      steps: [
        {
          title: "Edit Topik Ujian",
          intro: "Halaman ini berfungsi untuk mengubah Topik Ujian yang telah ada.",
        },
      ],
    });
    first_intro.start();
    $(".admin-sidebar").removeClass('selected')
    $(".topik-sidebar").addClass('selected')
    $("#complete-upload").on("click", function (e) {
      e.preventDefault();
      window.location = "/admin/tipe_ujian";
    });
    $("#selesai").on("click", () => {
      $(".submit-layer").css("visibility", "visible");
    });

    $(".ubah-button").on("click", () => {
      $(".submit-layer").css("visibility", "hidden");
    });

    // UPLOAD
    const manualForm = document.getElementById("submit-form");
    manualForm.addEventListener("submit", (e) => {
      e.preventDefault();
      let formData = new FormData(manualForm);
      formData.append("unique_id", unique_id);
      $.ajax({
        url: "/api/exam_type",
        type: "PUT",
        data: formData,
        async: false,
        cache: false,
        contentType: false,
        encrypt: "multipart/form-data",
        processData: false,
        success: (response) => {
          $(".submit-layer").css("visibility", "hidden");
          if (response.payload.status_code == 200) {
            $(".complete-layer").removeClass("hide");
            $(".complete-layer").css("visibility", "visible");
          } else if (response.payload.message == "you're not authenticated") {
            window.location = "/login";
          }
        },
      });
    });
    let unique_id = window.location.href.substring(
      window.location.href.lastIndexOf("/") + 1
    );
    let url = `/api/exam_type/${unique_id}`;
    $.get(url, async (data, status) => {
      let datas = data.payload.datas;
      if (status == "success" && datas.length !== 0) {
        $("#exam_type").val(datas.exam_type);
      }
    });
  });
  
  function initializeIntro(stepConfig) {
    const intro = introJs();
    intro.setOptions(stepConfig);
    return intro;
  }
  $('form').bind("keypress", function(e) {
        if (e.keyCode == 13) {               
            e.preventDefault();
            return false;
        }
    });
</script>
