@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  /* padding: 0 2rem; */
  margin: 0;
  background-color: #358f6c;
  font-family: "Inter", sans-serif;
}

main {
  padding: 0 0 0 2rem;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

.profile-sidebar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1rem;
}
.profile-img {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 100%;
}
.profile-info p {
  margin: 0.2rem 0;
  color: white;
  font-size: 0.9rem;
}
.list-sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin: 2rem 0;
}
.list-sidebar a {
  border-radius: 0;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 20px 0 0px 20px;
  text-decoration: none;
  font-size: 0.9rem;
}
.selected {
  background-color: white !important;
  color: #358f6c !important;
}
.main-content {
  width: 100%;
  min-height: 100vh;
}
.main-background {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px 0 0px 0px;
  overflow: hidden;
}
.main-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.main-title h2 {
  color: #358f6c;
}
.main-title a {
  margin-top: auto;
}
.main-home {
  padding: 0 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.ujian {
  background-color: white;
  border-radius: 15px;
  color: #358f6c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  height: 450px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.ujian:hover {
  transform: translateY(-5px);
}
.ujian p {
  margin: 0;
}
.rounded {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: #358f6c;
  margin: 0.3rem 0;
}
.tambah-ujian,
.tambah-ujian-baru {
  text-decoration: none;
}

/* .button-intro {
  background-color: #358f6c;
  color: white;
} */
