@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  /* padding: 0 2rem; */
  margin: 0;
  background-color: #358f6c;
  font-family: "Inter", sans-serif;
}

main {
  padding: 0 0 0 2rem;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

.profile-sidebar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1rem;
}
.profile-img {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 100%;
}
.profile-info p {
  margin: 0.2rem 0;
  color: white;
  font-size: 0.9rem;
}
.list-sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin: 2rem 0;
}
.list-sidebar a {
  border-radius: 0;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 20px 0 0px 20px;
  text-decoration: none;
  font-size: 0.9rem;
}
.selected {
  background-color: white !important;
  color: #358f6c !important;
}
.main-content {
  width: 100%;
  min-height: 100vh;
}
.main-background {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px 0 0px 0px;
  overflow: hidden;
}
.main-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.main-title h2 {
  color: #358f6c;
}
.main-title a {
  margin-top: auto;
}
.main-title a button {
  background-color: #358f6c;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.main-table {
  margin: 1rem 2rem 0;
  box-shadow: 1px -3px 20px 2px rgba(122, 122, 122, 0.3);
  border-radius: 20px 20px 0 0;
  background-color: white;
  height: 100%;
}
.main-table-title {
  padding: 2rem;
  /* display: grid;
  grid-template-columns: 0.2fr 0.6fr 0.3fr 0.3fr 0.3fr 0.2fr 0.05fr; */
}
.main-table-body {
  color: #358f6c;
  text-align: center;
  margin: 4rem 0;
}
.main-table-body p {
  margin: 0;
}

.table-body {
  display: grid;
  padding: 1rem 0;
  grid-template-columns: 0.2fr 0.6fr 0.3fr 0.3fr 0.3fr 0.2fr 0.05fr;
  border: 0.1px solid lightgray;
  border-width: 0px 0 0.1px 0;
}
.table-body a {
  width: max-content;
  color: #358f6c;
}

.ujian-link {
  color: #358f6c;
}

.edit-siswa {
  color: #358f6c;
}

.main-title .main-side {
  margin-top: auto;
  display: flex;
  gap: 1rem;
}

.hapus-button {
  background-color: #ff4d4d;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.hapus-button:disabled {
  background-color: lightgray;
  color: gray;
}
