@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* padding: 0 2rem; */
  margin: 0;
  background-color: #358f6c;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}

main {
  padding: 0 0 0 2rem;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

.profile-sidebar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1rem;
}
.profile-img {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 100%;
}
.profile-info p {
  margin: 0.2rem 0;
  color: white;
  font-size: 0.9rem;
}
.list-sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin: 2rem 0;
}
.list-sidebar a {
  border-radius: 0;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 20px 0 0px 20px;
  text-decoration: none;
  font-size: 0.9rem;
}
.selected {
  background-color: white !important;
  color: #358f6c !important;
}
.main-content {
  width: 100%;
  min-height: 100vh;
}
.main-background {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px 0 0px 0px;
  overflow: hidden;
}
.main-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: relative;
}

.main-title h2 {
  color: #358f6c;
}
.main-title a {
  margin-top: auto;
}

.main-input {
  margin: 1rem 2rem 2rem;
  background-color: #358f6c;
  border-radius: 20px;
  padding: 2rem;
  color: white;
}
.exam-type {
  width: 100%;
  background-color: white;
  border-radius: 7px;
  padding: 0.5rem 0.5rem;
  border: 0.1px solid gray;
}
.exam-input {
  width: 50%;
  background-color: white;
  border-radius: 7px;
  padding: 0.5rem 0.5rem;
  border: 0.1px solid gray;
}
.main-input-config {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 2rem; */
  margin-top: 1rem;
}
label {
  display: grid;
  gap: 0.75rem;
}
.main-create-question {
  margin-right: 2rem;
  display: block;
  margin-left: auto;
  background-color: #358f6c;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

/* QUESTIONS */

.questions-box {
  margin: 0 2rem;
  background-color: #358f6c;
  border-radius: 20px;
  margin-bottom: 2rem;
  color: white;
  font-size: 0.9rem;
}
.question {
  padding: 1rem 2rem;
  position: relative;
}
.soal-text {
  width: 100%;
  min-height: 100px;
  padding: 0.5rem;
  font-size: 0.85rem;
  font-family: "Inter", sans-serif;
  border-radius: 7px;
}
.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
  margin: 1rem 0 1rem 0;
}
.answer {
  width: 100%;
  background-color: white;
  border-radius: 7px;
  padding: 0.7rem 0.5rem;
  border: 0.1px solid gray;
}
.add-more {
  text-align: center;
  margin: 2rem 0 1rem 0;
}
.add-more button {
  background-color: white;
  color: #358f6c;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
}

.submit-input {
  display: flex;
  margin: 1rem 2rem;
  justify-content: flex-end;
}
.submit-input button {
  background-color: #358f6c;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
}

.submit-layer {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.submit-hapus {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.submit-question {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 15rem;
  background-color: white;
  color: black;
}
.submit-buttons {
  display: flex;
  gap: 1rem;
}
.submit-buttons button {
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  width: 100px;
}
.ubah-button {
  background-color: #ff4c4c;
  color: white;
}
.selesai-button {
  background-color: #358f6c;
  color: white;
}

input[type="file"] {
  /* display: none; */
}

.custom-file-upload {
  border-radius: 7px;
  display: inline-block;
  padding: 0.4rem 1.5rem;
  font-size: 0.85rem;
  cursor: pointer;
  width: max-content;
  height: max-content;
  background-color: white;
  margin-top: auto;
  margin-left: auto;
  color: #358f6c;
}

.display_image {
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
  display: none;
  justify-content: center;
  align-items: center;
}

.display_image img {
  /* width: 70%; */
  height: 90%;
  object-fit: contain;
}

.display_image span {
  margin-bottom: auto;
  margin-left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  color: #358f6c;
  width: 30px;
  height: 30px;
  /* padding: 0.3rem; */
  border-radius: 100%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s;
}
.display_image span:hover {
  transform: scale(1.1);
}
.display_image span i {
  width: max-content;
  height: max-content;
  font-size: 1.3rem;
}

#selesai-hapus {
  padding: 0.5rem 1.5rem;
  background-color: red;
  color: white;
  margin-top: auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 2rem;
}

.delete-quest {
  background-color: #f6f6f6;
  color: #358f6c;
  padding: 0.3rem;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: -10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s;
  z-index: 1;
}
.delete-quest:hover {
  transform: scale(1.1);
}
.delete-quest span i {
  font-size: 1.3rem;
}

.file-layer {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 999;
}
.file-toolarge {
  background-color: white;
  color: black;
  padding: 3rem 10rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.file-toolarge button {
  padding: 0.5rem 1rem;
  border: 0.1px solid lightgray;
  background-color: #358f6c;
  border-radius: 15px;
  color: white;
  width: 100px;
  cursor: pointer;
}
.input-file::file-selector-button {
  margin-right: 1rem;
}
