body {
  padding: 0 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.3px solid gray;
  margin-bottom: 3rem;
}

nav .nav-list ul {
  display: flex;
  gap: 1rem;
}

nav .nav-list li {
  list-style-type: none;
}

main .main-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
