@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  /* padding: 0 2rem; */
  margin: 0;
  background-color: #358f6c;
  font-family: "Poppins";
}

nav {
  color: white;
  padding: 0.5rem 2rem;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  align-items: center;
}

.nav-brand h2 {
  /* padding: 0 4rem 0 0; */
}

nav .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
nav .nav-list a button {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  background-color: antiquewhite;
  color: #358f6c;
  border: none;
  border-radius: 20px;
}

nav .nav-list li {
  list-style-type: none;
}

main {
  padding: 0 0 0 2rem;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

.profile-sidebar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1rem;
}
.profile-img {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 100%;
}
.profile-info p {
  margin: 0.2rem 0;
  color: white;
  font-size: 0.9rem;
}
.list-sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin: 2rem 0;
}
.list-sidebar a {
  border-radius: 0;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 20px 0 0px 20px;
  text-decoration: none;
  font-size: 0.9rem;
}
.selected {
  background-color: white !important;
  color: #358f6c !important;
}
.main-content {
  width: 100%;
  min-height: 85vh;
}
.main-background {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px 0 0px 0px;
  overflow: hidden;
}
.main-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.main-title a {
  margin-top: auto;
}
.main-title a button {
  background-color: #358f6c;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.main-table {
  margin: 1rem 2rem 0;
  box-shadow: 1px -3px 20px 2px rgba(122, 122, 122, 0.3);
  border-radius: 20px 20px 0 0;
  background-color: white;
  height: 100%;
}
.main-table-title {
  padding: 0.5rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.main-table-body {
  color: #358f6c;
  text-align: center;
  margin: 2rem 0;
}
