@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* padding: 0 2rem; */
  margin: 0;
  background-color: #358f6c;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}

main {
  padding: 0 0 0 2rem;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

.main-title h2 {
  color: #358f6c;
}

.profile-sidebar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1rem;
}
.profile-img {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 100%;
}
.profile-info p {
  margin: 0.2rem 0;
  color: white;
  font-size: 0.9rem;
}
.list-sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin: 2rem 0;
}
.list-sidebar a {
  border-radius: 0;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 20px 0 0px 20px;
  text-decoration: none;
  font-size: 0.9rem;
}
.selected {
  background-color: white !important;
  color: #358f6c !important;
}
.main-content {
  width: 100%;
  min-height: 100vh;
}
.main-background {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px 0 0px 0px;
  overflow: hidden;
}
.main-title {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0;
}
.main-title a {
  margin-top: auto;
}

.main-input {
  margin: 1rem 2rem 2rem;
  background-color: #358f6c;
  border-radius: 20px;
  padding: 2rem;
  color: white;
}
.main-input input {
  margin: 0.75rem 0;
}
.nama-input {
  width: 100%;
  background-color: white;
  border-radius: 7px;
  padding: 0.5rem 0.5rem;
  border: 0.1px solid gray;
}
.kelas-input {
  width: 100%;
  background-color: white;
  border-radius: 7px;
  padding: 0.5rem 0.5rem;
  border: 0.1px solid gray;
}
.main-input-config {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 2rem; */
  margin-top: 1rem;
}
.main-create-question {
  margin-right: 2rem;
  display: block;
  margin-left: auto;
  background-color: #358f6c;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

/* QUESTIONS */

.questions-box {
  margin: 0 2rem;
  background-color: #358f6c;
  border-radius: 20px;
  margin-bottom: 2rem;
  color: white;
  font-size: 0.9rem;
}
.question {
  padding: 1rem 2rem 0 2rem;
}
.soal-text {
  width: 100%;
  min-height: 100px;
  padding: 0.5rem;
  font-size: 0.85rem;
  font-family: "Inter", sans-serif;
  border-radius: 7px;
}
.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0 1rem 0;
}
.answer {
  width: 100%;
  background-color: white;
  border-radius: 7px;
  padding: 0.5rem 0.5rem;
  border: 0.1px solid gray;
}
.add-more {
  text-align: center;
  margin: 2rem 0 1rem 0;
}
.add-more button {
  background-color: white;
  color: #358f6c;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
}

.submit-input {
  display: flex;
  margin: 1rem 2rem;
  justify-content: flex-end;
}
.submit-input button {
  background-color: #358f6c;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
}

.submit-layer {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /* width: 100%;
  height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-question {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 15rem;
  background-color: white;
  color: black;
}
.submit-buttons {
  display: flex;
  gap: 1rem;
}
.submit-buttons button {
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  width: 100px;
}
.ubah-button {
  background-color: #ff4c4c;
  color: white;
}
.selesai-button {
  background-color: #358f6c;
  color: white;
}

input[type="file"] {
  /* display: none; */
}

.custom-file-upload {
  border-radius: 30px;
  display: inline-block;
  padding: 0.5rem;
  font-size: 0.85rem;
  cursor: pointer;
  width: max-content;
  height: max-content;
  background-color: #358f6c;
  color: white;
}

.upload-siswa {
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;
}

.input-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: .75rem;
}
.input-side div input {
  width: 50%;
  margin-top: 0.75rem;
}
input[type="file"] {
  margin-right: 2rem;
}
input[type="file"]::file-selector-button {
  background-color: antiquewhite;
  border: none;
  color: #358f6c;
  border-radius: 20px;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
}
.button-upload-csv {
  background-color: antiquewhite;
  border: none;
  color: #358f6c;
  border-radius: 20px;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
}
.button-upload-csv:disabled {
  background-color: lightgray;
  color: gray;
  cursor: default;
}
.upload-csv-p {
  margin: 0 0.5rem;
  margin-top: 0.2rem;
  font-size: 0.8rem;
  color: #358f6c;
}

.ubah-katasandi {
  margin-left: 2rem;
  padding: 0.5rem 1.5rem;
  background-color: #ff4c4c;
  color: white;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.exams-assign {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background-color: white;
  padding: 0.9rem 1.2rem;
  border-radius: 10px;
  margin: .75rem 0;
}
.exam-assign {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #358f6c;
  color: white;
  border-radius: 5px;
  padding: 0.25rem 1rem;
}
